Repository s27840213/Vue-Devtool-Bug-Rereproduction: changes, and which Bitbucket steps are due for each by the changed paths.
All: deploy charmix to cmrd, deploy vivipic to rd

Path conditions:
  deploy charmix to cmrd: any of: *, projects/charmix/**, packages/**
  deploy vivipic to rd: any of: *, projects/vivipic/**, packages/**

fix: fix some problems in shared-lib, and add some storybook tests
  package.json
  packages/shared-lib/.storybook/main.ts
  packages/shared-lib/postcss.config.cjs
  packages/shared-lib/src/App.vue
  packages/shared-lib/src/assets/css/base.css
  packages/shared-lib/src/assets/css/main.css
  packages/shared-lib/src/assets/css/tailwind.css
  packages/shared-lib/src/assets/json/colors.json
  packages/shared-lib/src/assets/json/colorsAll.json
  packages/shared-lib/src/components.d.ts
  packages/shared-lib/src/components/SvgIcon.stories.ts
  packages/shared-lib/src/components/SvgIcon.vue
  packages/shared-lib/src/components/Task.stories.ts
  packages/shared-lib/src/components/Task.vue
  packages/shared-lib/src/main.ts
  packages/shared-lib/tailwind.config.cjs
  packages/shared-lib/tsconfig.json
  projects/charmix/src/App.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

feat: move i18n-tools to tools/ and check shaked locale json before commiting
  .gitignore
  .husky/commit-msg
  i18n-tool/.env
  i18n-tool/Pipfile
  i18n-tool/Pipfile.lock
  i18n-tool/i18n_shake.py
  projects/vivipic/src/locales/jp.json
  projects/vivipic/src/locales/tw.json
  projects/vivipic/src/locales/us.json
  tools/i18n-tool/README.md
  tools/i18n-tool/config/client-secret.json
  tools/i18n-tool/get_translation.py
  tools/i18n-tool/i18n_rename.py
  tools/i18n-tool/i18n_shake.py
  tools/i18n-tool/requirements.txt
  tools/i18n-tool/util.py
  tools/i18n-tool/venv/bin/Activate.ps1
  tools/i18n-tool/venv/bin/activate
  tools/i18n-tool/venv/bin/activate.csh
  tools/i18n-tool/venv/bin/activate.fish
  tools/i18n-tool/venv/bin/f2py
  tools/i18n-tool/venv/bin/f2py3
  tools/i18n-tool/venv/bin/f2py3.9
  tools/i18n-tool/venv/bin/google-oauthlib-tool
  tools/i18n-tool/venv/bin/normalizer
  tools/i18n-tool/venv/bin/pip
  tools/i18n-tool/venv/bin/pip3
  tools/i18n-tool/venv/bin/pip3.9
  tools/i18n-tool/venv/bin/pyrsa-decrypt
  tools/i18n-tool/venv/bin/pyrsa-encrypt
  tools/i18n-tool/venv/bin/pyrsa-keygen
  tools/i18n-tool/venv/bin/pyrsa-priv2pub
  tools/i18n-tool/venv/bin/pyrsa-sign
  tools/i18n-tool/venv/bin/pyrsa-verify
  tools/i18n-tool/venv/bin/python
  tools/i18n-tool/venv/bin/python3
  tools/i18n-tool/venv/bin/python3.9
  tools/i18n-tool/venv/pyvenv.cfg
Due: deploy charmix to cmrd, deploy vivipic to rd

feat: update README.md for venv
  tools/i18n-tool/README.md
Due: none

feat: auto-find project root path
  tools/i18n-tool/i18n_shake.py
  tools/i18n-tool/util.py
Due: none

feat: prevent infinite loop
  tools/i18n-tool/util.py
Due: none

feat: modify script to read pt text
  i18n-tool/get_translation.py
  src/locales/jp.json
  src/locales/pt.json
  src/locales/tw.json
  src/locales/us.json
Due: none

chore: remove vite-plugin-dts update tsconfig
  .husky/commit-msg
  packages/shared-lib/package.json
  packages/shared-lib/vite.config.ts
  pnpm-lock.yaml
  projects/charmix/tsconfig.app.json
  projects/charmix/tsconfig.json
Due: deploy charmix to cmrd, deploy vivipic to rd

feat: use pt as i18n locale and add flexibility for more locales
  i18n-tool/get_translation.py
  src/components/editor/editor/DesktopEditor.vue
  src/components/editor/panelMobile/PanelVvstkMore.vue
  src/components/payment/PaymentField.vue
  src/components/vivisticker/Tutorial.vue
  src/i18n/index.ts
  src/interfaces/api.ts
  src/locales/jp.json
  src/locales/pt.json
  src/locales/us.json
  src/router/index.ts
  src/utils/assetUtils.ts
  src/utils/constantData.ts
  src/utils/localeUtils.ts
  src/utils/mappingUtils.ts
  src/utils/overlayUtils.ts
  src/utils/textFillUtils.ts
  src/utils/vivistickerUtils.ts
  src/views/ViviSticker.vue
Due: none

feat: use different sheet and langs for different project and don't put empty string to json
  projects/charmix/src/locales/jp_shaked.json
  projects/charmix/src/locales/tw.json
  projects/charmix/src/locales/tw_shaked.json
  projects/charmix/src/locales/us.json
  projects/charmix/src/locales/us_shaked.json
  projects/stk/src/locales/jp.json
  projects/stk/src/locales/pt.json
  projects/stk/src/locales/pt_shaked.json
  projects/stk/src/locales/us.json
  projects/stk/src/locales/us_shaked.json
  projects/vivipic/src/locales/jp.json
  projects/vivipic/src/locales/us.json
  projects/vivipic/src/locales/us_shaked.json
  tools/i18n-tool/get_translation.py
Due: deploy charmix to cmrd, deploy vivipic to rd

feat: add scripts
  tools/i18n-tool/get_translation.py
  tools/i18n-tool/get_translation.sh
  tools/package.json
Due: none

feat: add pixi-recorder
  pnpm-lock.yaml
  projects/charmix/package.json
  projects/charmix/src/utils/pixiRecorder.ts
  projects/stk/package.json
  projects/vivipic/package.json
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: calculate pagesPerRow with the container width of pagePreview
  src/components/editor/PagePreview.vue
  src/components/editor/mobile/AllPages.vue
Due: none

feat: install dependencies before executing script
  tools/i18n-tool/get_translation.sh
Due: none

feat: make tailwind could be used in storybook
  packages/shared-lib/.storybook/env.d.ts
  packages/shared-lib/.storybook/main.ts
  packages/shared-lib/.storybook/preview.ts
  packages/shared-lib/plugin.d.ts
  packages/shared-lib/postcss.config.cjs
  packages/shared-lib/project.json
  packages/shared-lib/src/assets/icon/add.svg
  packages/shared-lib/src/assets/icon/arrow-down-tray.svg
  packages/shared-lib/src/assets/icon/arrow-left.svg
  packages/shared-lib/src/assets/icon/brush.svg
  packages/shared-lib/src/assets/icon/check.svg
  packages/shared-lib/src/assets/icon/close-btn.svg
  packages/shared-lib/src/assets/icon/close.svg
  packages/shared-lib/src/assets/icon/erase.svg
  packages/shared-lib/src/assets/icon/grid-solid.svg
  packages/shared-lib/src/assets/icon/grid.svg
  packages/shared-lib/src/assets/icon/home-solid.svg
  packages/shared-lib/src/assets/icon/home.svg
  packages/shared-lib/src/assets/icon/interaction.svg
  packages/shared-lib/src/assets/icon/move.svg
  packages/shared-lib/src/assets/icon/original.svg
  packages/shared-lib/src/assets/icon/reverse.svg
  packages/shared-lib/src/assets/icon/scan.svg
  packages/shared-lib/src/assets/icon/selection.svg
  packages/shared-lib/src/assets/icon/shape.svg
  packages/shared-lib/src/assets/icon/test.svg
  packages/shared-lib/src/components/SvgIcon.stories.ts
  packages/shared-lib/src/components/SvgIcon.vue
  packages/shared-lib/src/components/Task.vue
  packages/shared-lib/tailwind.config.cjs
  packages/shared-lib/tsconfig.storybook.json
  packages/shared-lib/vite.config.ts
  pnpm-lock.yaml
  projects/charmix/vite.config.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: fix tiny type bugs for SvgIcon.vue
  packages/shared-lib/src/components/SvgIcon.vue
  projects/charmix/src/components/global/NuSvgIcon.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: remove dts from shared-lib vite config
  packages/shared-lib/vite.config.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

feat: use shaked version json in production
  projects/charmix/src/i18n/index.ts
  projects/stk/src/i18n/index.ts
  projects/vivipic/src/i18n/index.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

feat: long press close button to force saveOrNot modal popping up and upload json if 'don't save'
  src/components/vivisticker/HeaderTabs.vue
Due: none

fix: fix type error in pug
  src/components/editor/global/NuBackgroundController.vue
  src/components/editor/global/NuController.vue
  src/components/editor/global/NuImgController.vue
  src/components/editor/global/NuSubController.vue
Due: none

refactor: use calc to calc sass var
  src/assets/scss/utils/mixins.scss
Due: none

fix: type check
  projects/charmix/src/utils/pixiRecorder.ts
Due: deploy charmix to cmrd

fix: img isTransparent check; isBlur async error
  src/components/editor/global/NuBgImage.vue
  src/components/editor/global/NuImage.vue
  src/utils/imageAdjustUtil.ts
  src/utils/imageUtils.ts
Due: none

feat: add dev* yml setting for vivipic
  bitbucket-pipelines.yml
  tools/bash/create_pull_request.sh
  tools/bash/create_pull_request_original.sh
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: tiny test for the yml settings
  bitbucket-pipelines.yml
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: tiny test for the pipeline
  .husky/commit-msg
Due: none

fix: crypress error
  src/components/editor/global/NuBgImage.vue
  src/components/editor/global/NuImage.vue
Due: none

fix: test the feature yml files in develop
  bitbucket-pipelines.yml
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: test some setting for pipeline
  bitbucket-pipelines.yml
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: test some setting for pipeline
  .husky/commit-msg
  bitbucket-pipelines.yml
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: crypress error
  src/components/editor/global/NuBgImage.vue
Due: none

fix: tiny changes for pipeline to test
  bitbucket-pipelines.yml
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: so fking annoying :), test something
  bitbucket-pipelines.yml
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: test some pipeline settings in feature branch
  bitbucket-pipelines.yml
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: when running python script, check python3 existence before calling it
  .husky/commit-msg
  tools/i18n-tool/get_translation.sh
  tools/i18n-tool/i18n_shake.sh
Due: none

fix: test dev5 bucket
  bitbucket-pipelines.yml
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: test all the dev bucket
  bitbucket-pipelines.yml
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: test the artifacts settings
  bitbucket-pipelines.yml
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: test the pipeline
  bitbucket-pipelines.yml
Due: deploy charmix to cmrd, deploy vivipic to rd
