Repository s27840213/Vue-Devtool-Bug-Rereproduction: changes, and which Bitbucket steps are due for each by the changed paths.
All: deploy charmix to cmrd, deploy vivipic to rd

Path conditions:
  deploy charmix to cmrd: any of: *, projects/charmix/**, packages/**
  deploy vivipic to rd: any of: *, projects/vivipic/**, packages/**

fix: fix the tiny bugs for dynamic components
  projects/charmix/src/App.vue
Due: deploy charmix to cmrd

fix: fix the type errors
  projects/charmix/src/App.vue
Due: deploy charmix to cmrd

fix(stk): vue3 transition class should be &-enter-from
  projects/stk/src/views/ViviSticker.vue
Due: none

fix(stk): close mobile-panel when entering user settings
  projects/stk/src/components/editor/panelMobile/PanelVvstkMore.vue
Due: none

fix: consider contentScaleRatio on mobile
  projects/stk/src/utils/controlUtils.ts
  projects/stk/src/utils/mathUtils.ts
Due: none

fix: use layerConfig instead for calculating by boundingRect to avoid problems at 45 degrees
  projects/stk/src/utils/controlUtils.ts
  projects/stk/src/utils/mathUtils.ts
Due: none

cy: update baseline for NuImg/BgImg mobile CSR
  cypress-visual-screenshots/baseline/Image.cy.ts/Other image test mobile/Copy format after.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Other image test mobile/Copy format before.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Other image test mobile/Copy layer.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Other image test mobile/Delete after.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Other image test mobile/Delete before.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Other image test mobile/Lock locked.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Other image test mobile/Lock unlocked.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Other image test mobile/Oredr change.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Other image test mobile/Oredr restore.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Other image test mobile/RotateAndResize after resize.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Other image test mobile/RotateAndResize before resize.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Other image test mobile/init.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Align bottom-align.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Align center-horizontally.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Align center-vertically.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Align left-align.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Align right-align.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Align top-align.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Crop init.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Crop move down.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Crop move left.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Crop move right.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Crop scale top right.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Flip h.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Flip hv.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Flip v.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Set as BG.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Shadow blur default.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Shadow blur preset.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Shadow floating default.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Shadow floating preset.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Shadow frame default.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Shadow frame preset.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Shadow imageMatched default.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Shadow imageMatched preset.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Shadow shadow default.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Shadow shadow preset.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/init.png
Due: none

fix: bgremove fit-page
  projects/vivipic/src/components/editor/backgroundRemove/BgRemoveArea.vue
  projects/vivipic/src/utils/pageUtils.ts
Due: deploy vivipic to rd

feat: merge remote
  projects/stk/src/components/editor/backgroundRemove/BgRemoveArea.vue
  projects/stk/src/components/vivisticker/BgRemoveArea.vue
  projects/stk/src/utils/pageUtils.ts
  projects/vivipic/src/utils/controlUtils.ts
  projects/vivipic/src/utils/mathUtils.ts
Due: deploy vivipic to rd

feat: update payment UI for mobile version
  projects/vivipic/src/assets/img/jpg/pricing-mobile/jp/export-pdf-print.jpg
  projects/vivipic/src/assets/img/jpg/pricing-mobile/jp/page-resize.jpg
  projects/vivipic/src/assets/img/jpg/pricing-mobile/jp/pro-object.jpg
  projects/vivipic/src/assets/img/jpg/pricing-mobile/jp/pro-template.jpg
  projects/vivipic/src/assets/img/jpg/pricing-mobile/jp/pro-text.jpg
  projects/vivipic/src/assets/img/jpg/pricing-mobile/jp/remover.jpg
  projects/vivipic/src/assets/img/jpg/pricing-mobile/pro-bg.jpg
  projects/vivipic/src/assets/img/jpg/pricing-mobile/tw/export-pdf-print.jpg
  projects/vivipic/src/assets/img/jpg/pricing-mobile/tw/page-resize.jpg
  projects/vivipic/src/assets/img/jpg/pricing-mobile/tw/pro-object.jpg
  projects/vivipic/src/assets/img/jpg/pricing-mobile/tw/pro-template.jpg
  projects/vivipic/src/assets/img/jpg/pricing-mobile/tw/pro-text.jpg
  projects/vivipic/src/assets/img/jpg/pricing-mobile/tw/remover.jpg
  projects/vivipic/src/assets/img/jpg/pricing-mobile/us/export-pdf-print.jpg
  projects/vivipic/src/assets/img/jpg/pricing-mobile/us/page-resize.jpg
  projects/vivipic/src/assets/img/jpg/pricing-mobile/us/pro-object.jpg
  projects/vivipic/src/assets/img/jpg/pricing-mobile/us/pro-template.jpg
  projects/vivipic/src/assets/img/jpg/pricing-mobile/us/pro-text.jpg
  projects/vivipic/src/assets/img/jpg/pricing-mobile/us/remover.jpg
  projects/vivipic/src/assets/img/jpg/pricing-mobile/welcome.jpg
  projects/vivipic/src/components/global/Carousel.vue
  projects/vivipic/src/components/popup/PopupPayment.vue
  projects/vivipic/src/locales/jp_shaked.json
  projects/vivipic/src/locales/tw_shaked.json
  projects/vivipic/src/locales/us_shaked.json
Due: deploy vivipic to rd

feat: modify moving logic
  src/components/vivisticker/VvstkEditor.vue
  src/utils/movingUtils.ts
Due: none

feat: update the nx.json for serve script in vivipic/stk, and add watch script in root package.json
  nx.json
  package.json
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: fix more img require
  packages/vivi-lib/package.json
  packages/vivi-lib/src/components/category/CategoryBackgroundItem.vue
  packages/vivi-lib/src/components/category/CategoryFontItem.vue
  packages/vivi-lib/src/components/category/CategoryGroupTemplateItem.vue
  packages/vivi-lib/src/components/category/CategoryListRows.vue
  packages/vivi-lib/src/components/category/CategoryTemplateItem.vue
  packages/vivi-lib/src/components/category/CategoryTextItem.vue
  packages/vivi-lib/src/components/global/Spinner.vue
  packages/vivi-lib/src/store/index.ts
  packages/vivi-lib/src/utils/brandkitUtils.ts
  packages/vivi-lib/src/utils/designUtils.ts
  packages/vivi-lib/src/utils/imageUtils.ts
  packages/vivi-lib/src/utils/uploadUtils.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

chore: add cypress pipeline step
  .gitignore
  bitbucket-pipelines.yml
  projects/vivipic/package.json
  projects/vivipic/src/apis/user.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

feat: add line feature
  src/utils/pinchControlUtils.ts
Due: none

chore: remove unused node_modules artifact
  bitbucket-pipelines.yml
Due: deploy charmix to cmrd, deploy vivipic to rd

refactor: reduce some require img code
  packages/vivi-lib/src/components/category/CategoryBackgroundItem.vue
  packages/vivi-lib/src/components/category/CategoryFontItem.vue
  packages/vivi-lib/src/components/category/CategoryGroupTemplateItem.vue
  packages/vivi-lib/src/components/category/CategoryListRows.vue
  packages/vivi-lib/src/components/category/CategoryTemplateItem.vue
  packages/vivi-lib/src/components/category/CategoryTextItem.vue
  packages/vivi-lib/src/components/global/Spinner.vue
  packages/vivi-lib/src/store/index.ts
  packages/vivi-lib/src/utils/imageUtils.ts
  packages/vivi-lib/src/utils/textFillUtils.ts
  packages/vivi-lib/src/utils/uploadUtils.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

refactor: remove unused .d.ts
  packages/vivi-lib/src/font-face-loader.d.ts
  packages/vivi-lib/src/shims-fontfaceobserver.d.ts
  packages/vivi-lib/src/shims-svg.d.ts
  packages/vivi-lib/src/shims-tmp-fonts.d.ts
  packages/vivi-lib/src/shims-tsx.d.ts
  projects/stk/src/font-face-loader.d.ts
  projects/stk/src/shims-fontfaceobserver.d.ts
  projects/stk/src/shims-svg.d.ts
  projects/stk/src/shims-tmp-fonts.d.ts
  projects/stk/src/shims-tsx.d.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

feat: install vivi-lib to stk
  pnpm-lock.yaml
  projects/stk/package.json
  projects/stk/tsconfig.json
Due: deploy charmix to cmrd, deploy vivipic to rd

chore: add cypress pipeline condition
  bitbucket-pipelines.yml
  pnpm-workspace.yaml
  tools/pipeline-tool/index.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

fix(stk): fix initial tab for iPad version
  projects/stk/src/router/index.ts
Due: none

chore: update watch command
  package.json
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: don't send /update-user if token is empty or complete = 1 (from APP_LAUNCH)
  projects/stk/src/store/module/user.ts
  projects/stk/src/utils/picWVUtils.ts
  projects/vivipic/src/store/module/user.ts
  projects/vivipic/src/utils/picWVUtils.ts
Due: deploy vivipic to rd

chore: remove unused variable
  projects/stk/src/utils/picWVUtils.ts
  projects/vivipic/src/utils/picWVUtils.ts
Due: deploy vivipic to rd

snap angle modified
  src/utils/pinchControlUtils.ts
  src/utils/snapUtils.ts
Due: none

feat(stk): template support for ipad version
  projects/stk/src/utils/vivistickerUtils.ts
Due: none

refactor: shorten scss app name
  packages/vivi-lib/.env
  packages/vivi-lib/src/assets/scss/utils/functions.scss
  projects/stk/.env
  projects/stk/src/assets/scss/utils/functions.scss
Due: deploy charmix to cmrd, deploy vivipic to rd

fix(stk): fix position of pro icon in footer tabs for iPad version
  projects/stk/src/components/vivisticker/FooterTabs.vue
Due: none

refactor: merge stk (router)
  packages/vivi-lib/src/components.ts
  packages/vivi-lib/src/router/index.ts
  projects/stk/src/router/index.ts
  projects/vivipic/src/router/index.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: private img xtra cors error
  src/components/editor/global/NuBgImage.vue
  src/components/editor/global/NuImage.vue
  src/store/module/file.ts
  src/utils/imageUtils.ts
Due: none

fix(stk): reduce the log ammount in bg remove
  projects/stk/src/components/vivisticker/BgRemoveArea.vue
Due: none

fix(stk): fix the problems of wrong building env in stk
  pnpm-lock.yaml
  projects/stk/.env
  projects/stk/vue.config.js
  tsconfig.base.json
Due: deploy charmix to cmrd, deploy vivipic to rd

fix(stk): add current env to debug tool
  projects/stk/src/components/componentLog/DebugTool.vue
Due: none

chore: add updateVivilibImports script
  packages/vivi-lib/src/components.ts
  packages/vivi-lib/src/imports.ts
  packages/vivi-lib/src/main.ts
  tools/file-sharing/replaceImportPath.py
  tools/file-sharing/updateVivilibImport.py
  tools/file-sharing/updateVivilibImports.py
  tools/package.json
Due: deploy charmix to cmrd, deploy vivipic to rd

feat: use pointerdown/up to handle tap/click
  src/components/editor/global/NuBgImage.vue
  src/components/editor/page/PageContent.vue
  src/components/vivisticker/VvstkEditor.vue
  src/utils/movingUtils.ts
  src/utils/pinchControlUtils.ts
Due: none

fix: fix vivipic env VUE_APP_APP_NAME
  packages/vivi-lib/.env
  projects/vivipic/.env
  tools/file-sharing/replaceImportPath.py
  tools/file-sharing/updateVivilibImports.py
Due: deploy charmix to cmrd, deploy vivipic to rd
