Repository s27840213/Vue-Devtool-Bug-Rereproduction: changes, and which Bitbucket steps are due for each by the changed paths.
All: deploy charmix to rd, deploy vivipic to rd

Path conditions:
  deploy charmix to rd: any of: projects/charmix/**, packages/**
  deploy vivipic to rd: any of: projects/vivipic/**, packages/**

fix: fix the pipeline error
  bitbucket-pipelines.yml
Due: none

fix: tiny test for the pipeline
  projects/vivipic/README.md
Due: deploy vivipic to rd

fix: tiny test for charmix
  projects/charmix/README.md
Due: deploy charmix to rd

chore: update eslint setting
  .eslintrc.cjs
  .eslintrc.js
  package.json
  pnpm-lock.yaml
Due: none

chore: test
  i18n-tool/README.md
Due: none

test45645613
  i18n-tool/README.md
Due: none

chore: fix husky for mac and add more commit type
  .cz-config.js
  .husky/commit-msg
  commitlint.config.js
Due: none

feat: pro UI update
  src/assets/img/png/pricing/jp/vivisticker_pro-bg-remove.png
  src/assets/img/png/pricing/jp/vivisticker_pro-template.png
  src/assets/img/png/pricing/jp/vivisticker_pro-text.png
  src/assets/img/png/pricing/jp/vivisticker_welcome.png
  src/assets/img/png/pricing/tw/vivisticker_pro-bg-remove.png
  src/assets/img/png/pricing/tw/vivisticker_pro-template.png
  src/assets/img/png/pricing/tw/vivisticker_pro-text.png
  src/assets/img/png/pricing/tw/vivisticker_welcome.png
  src/assets/img/png/pricing/us/vivisticker_pro-bg-remove.png
  src/assets/img/png/pricing/us/vivisticker_pro-template.png
  src/assets/img/png/pricing/us/vivisticker_pro-text.png
  src/assets/img/png/pricing/us/vivisticker_welcome.png
  src/assets/img/png/pricing/vivisticker_frame.png
  src/assets/img/png/pricing/vivisticker_pro-object.png
  src/assets/img/png/pricing/vivisticker_welcome.png
  src/components/vivisticker/FullPage.vue
  src/components/vivisticker/Payment.vue
  src/components/vivisticker/Welcome.vue
  src/locales/jp.json
  src/locales/tw.json
  src/locales/us.json
Due: none

chore: fix pic ts error, delete workerUtils
  pnpm-lock.yaml
  projects/vivipic/package.json
  projects/vivipic/src/components/editor/global/NuController.vue
  projects/vivipic/src/components/editor/global/NuImage.vue
  projects/vivipic/src/components/editor/worker/clneDeep.worker.ts
  projects/vivipic/src/mixin/download.ts
  projects/vivipic/src/shims-web-worker.d.ts
  projects/vivipic/src/store/module/user.ts
  projects/vivipic/src/utils/movingUtils.ts
  projects/vivipic/src/utils/stepsUtils.ts
  projects/vivipic/src/utils/uploadUtils.ts
  projects/vivipic/src/utils/workerUtils.ts
  projects/vivipic/tsconfig.json
  projects/vivipic/vue.config.js
Due: deploy vivipic to rd

chore: update webpack & prettier setting
  .prettierrc.json
  projects/vivipic/vue.config.js
Due: deploy vivipic to rd

fix: change the pipeline settings, and update the icon of aspect ratio in charmix
  bitbucket-pipelines.yml
  projects/charmix/src/assets/icon/add.svg
  projects/charmix/src/assets/icon/aspect-ratio/16_9.svg
  projects/charmix/src/assets/icon/aspect-ratio/1_1.svg
  projects/charmix/src/assets/icon/aspect-ratio/2_3.svg
  projects/charmix/src/assets/icon/aspect-ratio/3_2.svg
  projects/charmix/src/assets/icon/aspect-ratio/5_4.svg
  projects/charmix/src/assets/icon/aspect-ratio/9_16.svg
  projects/charmix/src/assets/icon/aspect-ratio/wallpaper.svg
  projects/charmix/src/components/panel-content/AspectRatioSelector.vue
  projects/charmix/src/locales/us.json
  projects/vivipic/src/store/module/bgRemove.ts
Due: deploy charmix to rd, deploy vivipic to rd

fix: remove useless deployment
  bitbucket-pipelines.yml
Due: none

fix: fix the tiny bug of pipeline
  bitbucket-pipelines.yml
Due: none

fix: fix download pdf pro check
  src/mixin/download.ts
Due: none

feat: add edging feature, fix moving typo
  src/components/vivisticker/BgRemoveArea.vue
  src/components/vivisticker/BgRemoveContainer.vue
  src/store/module/bgRemove.ts
Due: none

fix: reported design should be ITempDesign to keep required info
  src/components/editor/panelMobile/PanelMyDesignMore.vue
Due: none

feat: generalify fileUtils.import for custom handler
  src/utils/fileUtils.ts
Due: none

fix: correct reported design format
  src/components/editor/panelMobile/PanelMyDesignMore.vue
Due: none

feat: import reported design
  src/components/editor/panelMobile/PanelVvstkMore.vue
  src/utils/vivistickerUtils.ts
Due: none

feat: add pic/stk/cm check function
  projects/vivipic/.env
  projects/vivipic/src/main.ts
  projects/vivipic/src/utils/generalUtils.ts
Due: deploy vivipic to rd

feat: summarize pinch logic
  src/components/vivisticker/BgRemoveContainer.vue
  src/store/module/bgRemove.ts
Due: none

fix: panel cause moving error
  src/components/vivisticker/BgRemoveContainer.vue
  src/components/vivisticker/MobilePanel.vue
  src/store/module/bgRemove.ts
Due: none

feat: check the branch name before committing
  .husky/commit-msg
Due: none

feat: add fix/xxx and test/xxx to valid branch name
  .husky/commit-msg
Due: none

feat: generalify fileUtils.import for custom handler
  projects/vivipic/src/utils/fileUtils.ts
Due: deploy vivipic to rd

fix: fix download pdf pro check
  projects/vivipic/src/mixin/download.ts
Due: deploy vivipic to rd

chore: fix stk ts error, delete workerUtils
  pnpm-lock.yaml
  projects/stk/.env
  projects/stk/package.json
  projects/stk/src/components/editor/global/NuController.vue
  projects/stk/src/components/editor/worker/clneDeep.worker.ts
  projects/stk/src/mixin/download.ts
  projects/stk/src/shims-web-worker.d.ts
  projects/stk/src/store/module/user.ts
  projects/stk/src/utils/movingUtils.ts
  projects/stk/src/utils/stepsUtils.ts
  projects/stk/src/utils/uploadUtils.ts
  projects/stk/src/utils/workerUtils.ts
  projects/stk/tsconfig.json
  projects/stk/vue.config.js
Due: none

fix: remove unused file, sync project check function
  projects/stk/build.prerender.js
  projects/stk/package.json
  projects/stk/src/main.ts
  projects/stk/src/utils/generalUtils.ts
  projects/stk/tsconfig.node.json
  projects/stk/vite.config.ts
  projects/vivipic/index_for_vite.html
  projects/vivipic/src/utils/generalUtils.ts
  projects/vivipic/tsconfig.node.json
  projects/vivipic/vite.config.ts
Due: deploy vivipic to rd

feat: use same tutorial showing logic as us for jp & make tutorial background all 'black-1'
  src/components/vivisticker/Tutorial.vue
  src/locales/jp.json
  src/locales/tw.json
  src/locales/us.json
  src/utils/constantData.ts
  src/utils/vivistickerUtils.ts
  src/views/ViviSticker.vue
Due: none

feat: make comparison panel dragable
  src/components/vivisticker/Payment.vue
Due: none

fix: fix pro check
  src/utils/vivistickerUtils.ts
Due: none

fix: skip initial animation of comparison panel
  src/components/vivisticker/Payment.vue
Due: none

feat: change the locales, and update pipeline yml
  bitbucket-pipelines.yml
  projects/charmix/src/assets/img/brush.png
  projects/charmix/src/components.d.ts
  projects/charmix/src/components/Headerbar.vue
  projects/charmix/src/components/global/BackBtn.vue
  projects/charmix/src/components/global/PropsSlider.vue
  projects/charmix/src/components/home/FeatureCard.vue
  projects/charmix/src/components/home/HighlightSection.vue
  projects/charmix/src/components/panel-content/AspectRatioSelector.vue
  projects/charmix/src/components/panel-content/EditingOptions.vue
  projects/charmix/src/components/panel-content/PromptArea.vue
  projects/charmix/src/locales/jp.json
  projects/charmix/src/locales/tw.json
  projects/charmix/src/locales/us.json
  projects/charmix/src/views/HomeView.vue
Due: deploy charmix to rd

feat: add userId and hostId to panelMore for user to report
  src/components/editor/panelMobile/PanelMore.vue
Due: none

fix: remove prettier plugin and fix the build problems in charmix
  packages/plugin-prettier-region/index.ts
  packages/plugin-prettier-region/package.json
  packages/plugin-prettier-region/tsconfig.json
  projects/charmix/src/views/HomeView.vue
Due: deploy charmix to rd, deploy vivipic to rd

fix: remove unused dependencies
  package.json
  pnpm-lock.yaml
Due: none

fix: change the package.json script of vivipic
  projects/vivipic/package.json
Due: deploy vivipic to rd

fix: temporarily stop the prerender
  projects/vivipic/vue.config.js
Due: deploy vivipic to rd

fix: fix the bugs of creating app.html
  projects/vivipic/vue.config.js
Due: deploy vivipic to rd

fix: fix dragging animation of comparison panel
  src/components/vivisticker/Payment.vue
Due: none
