Repository s27840213/Vue-Devtool-Bug-Rereproduction: changes, and which Bitbucket steps are due for each by the changed paths.
All: deploy charmix to cmrd, deploy vivipic to rd

Path conditions:
  deploy charmix to cmrd: any of: *, projects/charmix/**, packages/**
  deploy vivipic to rd: any of: *, projects/vivipic/**, packages/**

fix: test old scrips
  bitbucket-pipelines.yml
Due: deploy charmix to cmrd, deploy vivipic to rd

feat: UI update for payment view
  packages/shared-lib/src/components/ToggleBtn.vue
  projects/stk/src/components/global/ToggleBtn.vue
  projects/stk/src/components/vivisticker/Payment.vue
  projects/stk/src/locales/jp.json
  projects/stk/src/locales/jp_shaked.json
  projects/stk/src/locales/tw.json
  projects/stk/src/locales/tw_shaked.json
  projects/stk/src/locales/us.json
  projects/stk/src/locales/us_shaked.json
  projects/stk/src/router/index.ts
  projects/vivipic/src/components/global/ToggleBtn.vue
  projects/vivipic/src/locales/jp.json
  projects/vivipic/src/locales/tw.json
  projects/vivipic/src/locales/us.json
Due: deploy charmix to cmrd, deploy vivipic to rd

feat: move pinch event to editorView
  src/components/editor/global/NuLayer.vue
  src/components/vivisticker/VvstkEditor.vue
  src/utils/controlUtils.ts
  src/utils/movingUtils.ts
  src/utils/pinchControlUtils.ts
Due: none

fix: restore the yml
  bitbucket-pipelines.yml
Due: deploy charmix to cmrd, deploy vivipic to rd

feat: run i18n_shake after get_translation
  projects/stk/src/locales/jp.json
  projects/stk/src/locales/jp_shaked.json
  projects/stk/src/locales/pt.json
  projects/stk/src/locales/tw.json
  projects/stk/src/locales/tw_shaked.json
  projects/stk/src/locales/us.json
  projects/stk/src/locales/us_shaked.json
  projects/vivipic/src/locales/jp.json
  projects/vivipic/src/locales/tw.json
  projects/vivipic/src/locales/us.json
  tools/i18n-tool/get_translation.py
  tools/i18n-tool/i18n_shake.py
Due: deploy vivipic to rd

feat: get trialDays & trialCountry from app.json
  projects/stk/src/components/vivisticker/Payment.vue
  projects/stk/src/interfaces/vivisticker.ts
  projects/stk/src/router/index.ts
  projects/stk/src/store/module/vivisticker.ts
  projects/stk/src/utils/vivistickerUtils.ts
Due: none

feat: remove tcolud pricing link
  src/utils/constantData.ts
Due: none

fix: update the pr script
  tools/bash/create_pull_request.sh
Due: none

fix: if updateLocale fails, don't reload and show update modal
  src/components/editor/panelMobile/PanelVvstkMore.vue
  src/utils/vivistickerUtils.ts
Due: none

fix: echo the API TOKEN in pr script
  tools/bash/create_pull_request.sh
Due: none

fix: remove the double quote in pr script
  tools/bash/create_pull_request.sh
Due: none

fix: test only remove double quote in pr script
  tools/bash/create_pull_request.sh
Due: none

feat: support app version without new subscribe plan
  projects/stk/src/components/vivisticker/Payment.vue
  projects/stk/src/locales/jp.json
  projects/stk/src/locales/jp_shaked.json
  projects/stk/src/locales/tw.json
  projects/stk/src/locales/tw_shaked.json
  projects/stk/src/locales/us.json
  projects/stk/src/locales/us_shaked.json
  projects/stk/src/utils/vivistickerUtils.ts
  projects/vivipic/src/locales/jp.json
  projects/vivipic/src/locales/tw.json
  projects/vivipic/src/locales/us.json
Due: deploy vivipic to rd

feat: use pt as i18n locale and add flexibility for more locales
  i18n-tool/get_translation.py
  src/components/editor/editor/DesktopEditor.vue
  src/components/editor/panelMobile/PanelVvstkMore.vue
  src/components/payment/PaymentField.vue
  src/components/vivisticker/Tutorial.vue
  src/i18n/index.ts
  src/interfaces/api.ts
  src/locales/jp.json
  src/locales/pt.json
  src/locales/us.json
  src/router/index.ts
  src/utils/assetUtils.ts
  src/utils/constantData.ts
  src/utils/localeUtils.ts
  src/utils/mappingUtils.ts
  src/utils/overlayUtils.ts
  src/utils/textFillUtils.ts
  src/utils/vivistickerUtils.ts
  src/views/ViviSticker.vue
Due: none

fix: temporarily remove testing code for 'pt'
  src/router/index.ts
Due: none

feat: UI update for new subscribe plan
  src/components/global/ToggleBtn.vue
  src/components/vivisticker/Payment.vue
  src/interfaces/vivisticker.ts
  src/locales/jp.json
  src/locales/tw.json
  src/locales/us.json
  src/router/index.ts
  src/store/module/vivisticker.ts
  src/utils/vivistickerUtils.ts
Due: none

refactor: sync changes with vivisticker
  src/components/global/ToggleBtn.vue
Due: none

feat: add all branches pr scripts, and update the yml file
  bitbucket-pipelines.yml
  tools/bash/create_pull_request.sh
  tools/bash/create_pull_request_original.sh
  tools/bash/pr_develop_to_cm.sh
  tools/bash/pr_develop_to_qa.sh
  tools/bash/pr_develop_to_sticker.sh
  tools/bash/pr_others.sh
  tools/bash/test.sh
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: fix the mutiple deployment errors
  bitbucket-pipelines.yml
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: fix tiny bugs of pipeline
  bitbucket-pipelines.yml
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: update the s3 bucket path for sticker dev
  bitbucket-pipelines.yml
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: remove useless step
  bitbucket-pipelines.yml
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: update the permission of bash script
  tools/bash/pr_develop_to_cm.sh
  tools/bash/pr_develop_to_qa.sh
  tools/bash/pr_develop_to_sticker.sh
  tools/bash/pr_others.sh
Due: none

fix: layer deleted as pinchend
  src/components/editor/global/NuController.vue
  src/utils/movingUtils.ts
  src/utils/pinchControlUtils.ts
Due: none

feat: update develop yml
  .husky/commit-msg
  bitbucket-pipelines.yml
  tools/bash/pr_develop_to_stk.sh
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: fix tiny bugs in stk dev branch
  bitbucket-pipelines.yml
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: fix deployment name problems in pipeline yml
  bitbucket-pipelines.yml
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: fix the wrong deployment bucket in bitbucket yml for sticker
  bitbucket-pipelines.yml
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: rename master/* branches to main/* branches
  bitbucket-pipelines.yml
  tools/bash/pr_develop_to_cm.sh
  tools/bash/pr_develop_to_stk.sh
  tools/bash/pr_others.sh
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: update the branch name check logic
  .husky/commit-msg
Due: none

feat: add prod pipeline settings in pipeline yml
  bitbucket-pipelines.yml
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: fix the problems of wrong deployment
  bitbucket-pipelines.yml
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: fix the wrong LOCAL_PATH problems in bitbucket yml files
  bitbucket-pipelines.yml
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: remove --PRERENDER flag in vivipic package.json script
  projects/stk/package.json
  projects/vivipic/package.json
Due: deploy vivipic to rd

fix: modify the pr scripts for qa
  bitbucket-pipelines.yml
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: fix the bash script path problem, and update the branch name check script
  .husky/commit-msg
  bitbucket-pipelines.yml
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: update the permission of pr to stk script
  tools/bash/pr_develop_to_stk.sh
Due: none

feat: update the bash scripts
  tools/bash/pr_hotfix_to_all.sh
  tools/bash/pr_hotfix_to_cm.sh
  tools/bash/pr_hotfix_to_stk.sh
  tools/bash/pr_hotfix_to_vivipic.sh
  tools/bash/pr_others.sh
Due: none

feat: update the branch name check logic
  .husky/commit-msg
Due: none

fix: update the permission of bash scripts
  tools/bash/pr_hotfix_to_all.sh
  tools/bash/pr_hotfix_to_cm.sh
  tools/bash/pr_hotfix_to_stk.sh
  tools/bash/pr_hotfix_to_vivipic.sh
Due: none
