Repository s27840213/Vue-Devtool-Bug-Rereproduction: changes, and which Bitbucket steps are due for each by the changed paths.
All: deploy charmix to cmrd, deploy vivipic to rd

Path conditions:
  deploy charmix to cmrd: any of: *, projects/charmix/**, packages/**
  deploy vivipic to rd: any of: *, projects/vivipic/**, packages/**

fix: fix the parallel problems
  bitbucket-pipelines.yml
Due: deploy charmix to cmrd, deploy vivipic to rd

refactor: define vite/client in tsconfig
  packages/shared-lib/.storybook/env.d.ts
  packages/shared-lib/src/vite-env.d.ts
  packages/shared-lib/tsconfig.json
  projects/charmix/env.d.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

feat: add internal error handling
  packages/shared-lib/src/utils/nativeAPIUtils.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

feat: show current env in debug tool
  src/components/componentLog/DebugTool.vue
Due: none

chore: use @vue/language-plugin-pug instead of old version
  projects/stk/tsconfig.json
  projects/vivipic/tsconfig.json
Due: deploy vivipic to rd

feat: init vivi-lib
  packages/vivi-lib/index.html
  packages/vivi-lib/package.json
  packages/vivi-lib/public/vite.svg
  packages/vivi-lib/src/index.ts
  packages/vivi-lib/src/plugin.ts
  packages/vivi-lib/src/types.ts
  packages/vivi-lib/tsconfig.json
  packages/vivi-lib/vite.config.ts
  pnpm-lock.yaml
  projects/stk/tsconfig.json
  tools/vite-plugin-remove-pug-type-assertion/index.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: await the sleep
  src/utils/webViewUtils.ts
Due: none

fix: test the env in dev5
  projects/vivipic/src/components/componentLog/DebugTool.vue
  projects/vivipic/vue.config.js
Due: deploy vivipic to rd

feat: update file-sharing tool
  tools/file-sharing/printSelf.py
  tools/file-sharing/processConsole.py
Due: none

fix: test the pipeline settings
  bitbucket-pipelines.yml
Due: deploy charmix to cmrd, deploy vivipic to rd

feat: check json validness before saving and upload it as reported design if invalid
  src/components/vivisticker/HeaderTabs.vue
  src/utils/vivistickerUtils.ts
Due: none

fix: fix typo
  src/utils/vivistickerUtils.ts
Due: none

fix: register validJsonResult as a callback
  src/utils/vivistickerUtils.ts
Due: none

feat: add pinch-layer init
  src/components/editor/global/NuController.vue
  src/components/editor/global/NuLayer.vue
  src/store/index.ts
  src/store/types.ts
  src/utils/movingUtils.ts
  src/utils/pinchControlUtils.ts
  src/utils/shortcutUtils.ts
Due: none

feat: add scale, moving logic
  src/utils/pinchControlUtils.ts
Due: none

feat: add rotate
  src/utils/pinchControlUtils.ts
Due: none

fix: fix the same deployment error
  bitbucket-pipelines.yml
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: fix the order problems
  bitbucket-pipelines.yml
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: fix the deploy type errors omg
  bitbucket-pipelines.yml
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: test removing NODE_ENV from .env file
  projects/vivipic/.env
  projects/vivipic/vue.config.js
Due: deploy vivipic to rd

fix: add missing prerender file
  projects/vivipic/prerender/index.html
Due: deploy vivipic to rd

chore: update vivi-lib vite config
  packages/vivi-lib/package.json
  packages/vivi-lib/src/index.ts
  packages/vivi-lib/src/plugin.ts
  packages/vivi-lib/src/types.ts
  packages/vivi-lib/vite.config.ts
  projects/vivipic/src/main.ts
  tools/file-sharing/deleteOnly2.py
  tools/file-sharing/getImports.py
Due: deploy charmix to cmrd, deploy vivipic to rd

feat: add movingUtils followed by pinch
  src/components/editor/global/NuLayer.vue
  src/utils/movingUtils.ts
  src/utils/pinchControlUtils.ts
  src/utils/pointerEvtUtils.ts
Due: none

refactor: remove unused file
  projects/vivipic/src/components/editor/panelFunction/PanelColorPicker.vue
Due: deploy vivipic to rd

feat: get default price from app.json
  src/interfaces/vivisticker.ts
  src/router/index.ts
  src/store/module/vivisticker.ts
  src/utils/vivistickerUtils.ts
Due: none

fix: test the pull request script
  bash/create_pull_request.sh
Due: none

fix: delete the duplicate tool files in bash folder
  bash/create_pull_request.sh
  bash/create_pull_request_original.sh
  tools/bash/create_pull_request.sh
Due: none

feat: add svg sprite for vivi-lib
  package.json
  packages/vivi-lib/vite.config.ts
  pnpm-lock.yaml
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: try the API token
  tools/bash/create_pull_request.sh
Due: none

feat: if default locale fallback happens, update Native locale accordingly
  src/utils/localeUtils.ts
  src/utils/vivistickerUtils.ts
Due: none

chore: update vivi-lib node script
  packages/vivi-lib/package.json
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: test the old pull request script
  bitbucket-pipelines.yml
  tools/bash/create_pull_request_old.sh
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: update the pull request script
  bitbucket-pipelines.yml
  tools/bash/create_pull_request_old.sh
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: add a test bash script
  bitbucket-pipelines.yml
  tools/bash/test.sh
Due: deploy charmix to cmrd, deploy vivipic to rd

feat: if update locale failed, show update modal
  src/utils/vivistickerUtils.ts
Due: none

fix: update the permission of sh ifle
  tools/bash/test.sh
Due: none

fix: update the file permission
  tools/bash/create_pull_request.sh
  tools/bash/test.sh
Due: none

fix: fix the auth header
  tools/bash/create_pull_request.sh
Due: none

fix: test the old create pull request script
  tools/bash/create_pull_request_old.sh
Due: none
