Repository s27840213/Vue-Devtool-Bug-Rereproduction: changes, and which Bitbucket steps are due for each by the changed paths.
All: deploy charmix to cmrd, deploy vivipic to rd

Path conditions:
  deploy charmix to cmrd: any of: *, projects/charmix/**, packages/**
  deploy vivipic to rd: any of: *, projects/vivipic/**, packages/**

chore: add check file sharing tool
  .git-blame-ignore-revs
  .gitignore
  tools/file-sharing/diff.py
  tools/file-sharing/printSelf.py
  tools/file-sharing/processConsole.py
  tools/file-sharing/readme.md
  tools/package.json
Due: deploy charmix to cmrd, deploy vivipic to rd

refactor: remove unused import and file
  projects/stk/src/class/page.ts
  projects/stk/src/components/componentLog/DebugTool.vue
  projects/stk/src/components/editor/FunctionPanel.vue
  projects/stk/src/components/editor/mobile/MobileScaleRatioEditor.vue
  projects/stk/src/components/editor/mobile/MobileSidebar.vue
  projects/stk/src/components/homepage/MobileMenu.vue
  projects/stk/src/components/popup/Popup.vue
  projects/stk/src/components/vivisticker/MobilePanel.vue
  projects/stk/src/components/vivisticker/PanelTemplateContent.vue
  projects/stk/src/store/index.ts
  projects/stk/src/utils/asyncUtils.ts
  projects/stk/src/utils/progressUtils.ts
  projects/vivipic/src/class/page.ts
  projects/vivipic/src/components/componentLog/DebugTool.vue
  projects/vivipic/src/components/editor/mobile/MobileScaleRatioEditor.vue
  projects/vivipic/src/components/editor/mobile/MobileSidebar.vue
  projects/vivipic/src/components/homepage/MobileMenu.vue
  projects/vivipic/src/utils/asyncUtils.ts
  projects/vivipic/src/utils/progressUtils.ts
Due: deploy vivipic to rd

refactor: remove pexel files
  projects/stk/src/apis/pexels.ts
  projects/stk/src/store/index.ts
  projects/stk/src/store/photos/index.ts
  projects/vivipic/src/apis/pexels.ts
  projects/vivipic/src/store/index.ts
  projects/vivipic/src/store/photos/index.ts
Due: deploy vivipic to rd

refactor: remove cypress vuex in stk
  projects/stk/src/store/index.ts
Due: none

refactor: move TRANSITION_TIME to constData.ts
  projects/stk/src/components/editor/mobile/MobileEditorView.vue
  projects/stk/src/components/vivisticker/BgRemoveContainer.vue
  projects/stk/src/utils/constantData.ts
  projects/vivipic/src/components/editor/mobile/MobileEditorView.vue
  projects/vivipic/src/utils/constantData.ts
Due: deploy vivipic to rd

fix: fix pic local serve
  projects/vivipic/vue.config.js
Due: deploy vivipic to rd

refactor: import HomeFooterTabs dynamically
  projects/stk/src/App.vue
  projects/stk/src/interfaces/group.ts
  projects/vivipic/src/App.vue
  projects/vivipic/src/interfaces/group.ts
Due: deploy vivipic to rd

refactor: remove unused file: unsplash.ts
  projects/stk/src/apis/unsplash.ts
  projects/vivipic/src/apis/unsplash.ts
Due: deploy vivipic to rd

fix: add random ver to argo check url to avoid cache
  src/router/index.ts
Due: none

fix: fix color-picker will not update recently
  src/components/editor/panelMobile/PanelColor.vue
Due: none

chore: update i18n text
  src/locales/tw.json
Due: none

fix: insert emoji font explicitly right before unicode font
  src/utils/cssConverter.ts
Due: none

fix: isInFrame flag in footerTab
  src/components/editor/mobile/FooterTabs.vue
  src/components/vivisticker/FooterTabs.vue
Due: none

feat: pinching featured at non-moving mode
  src/components/vivisticker/BgRemoveArea.vue
  src/components/vivisticker/BgRemoveContainer.vue
  src/store/module/bgRemove.ts
Due: none

fix: shadow outline color after bg-remove use localstorage
  src/components/vivisticker/HeaderTabs.vue
Due: none

feat: install the storybook
  .prettierignore
  .vscode/extensions.json
  nx.json
  package.json
  packages/shared-lib/.storybook/main.ts
  packages/shared-lib/.storybook/preview.ts
  packages/shared-lib/project.json
  packages/shared-lib/tsconfig.json
  packages/shared-lib/tsconfig.storybook.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: call update userinfo after login for APP
  src/store/module/user.ts
Due: none

feat: add setColors scss function
  projects/stk/vue.config.js
  projects/vivipic/vue.config.js
Due: deploy vivipic to rd

fix: should pass login returned locale
  src/store/module/user.ts
Due: none

fix: fix the build problems
  packages/shared-lib/tsconfig.json
  packages/shared-lib/tsconfig.storybook.json
Due: deploy charmix to cmrd, deploy vivipic to rd

feat: send UPDATE_USER_INFO with user_id when login/logout and show App info in PanelMore
  src/components/editor/panelMobile/PanelMore.vue
  src/components/homepage/MobileMenu.vue
  src/components/popup/PopupAccount.vue
  src/components/popup/PopupFile.vue
  src/interfaces/webView.ts
  src/store/module/user.ts
  src/store/module/webView.ts
  src/utils/loginUtils.ts
  src/utils/picWVUtils.ts
Due: none

feat: show user_id and app info in settings-mobile
  src/views/Settings.vue
Due: none

feat: add native locale map and backward compatible support
  src/utils/localeUtils.ts
  src/utils/vivistickerUtils.ts
Due: none

refactor: use with syntax to pass env to scss
  projects/stk/src/assets/scss/utils/functions.scss
  projects/stk/src/assets/scss/utils/index.scss
  projects/stk/vue.config.js
  projects/vivipic/src/assets/scss/utils/functions.scss
  projects/vivipic/src/assets/scss/utils/index.scss
  projects/vivipic/vue.config.js
Due: deploy vivipic to rd

fix: make inBrowserMode default to true and leave the mode when detect it's in App
  src/App.vue
  src/store/module/webView.ts
  src/utils/picWVUtils.ts
Due: none

feat: add nativeAPIutils
  projects/charmix/src/index.d.ts
  projects/charmix/src/utils/nativeAPIutils.ts
Due: deploy charmix to cmrd

feat: put abstract class in shared-lib and create implementation under charmix
  packages/shared-lib/src/index.ts
  packages/shared-lib/src/utils/nativeAPIUtils.ts
  projects/charmix/src/utils/webViewUtils.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

feat: update default osVer
  projects/charmix/src/utils/webViewUtils.ts
Due: deploy charmix to cmrd

fix(cm): add keepVar for main.ts, update commit rule
  .cz-config.js
  commitlint.config.js
  projects/charmix/src/main.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

chore(cm): fix cm ts config
  projects/charmix/tsconfig.app.json
Due: deploy charmix to cmrd

feat: inject the GTM according to inBrowserMode
  src/App.vue
Due: none

refactor: lower code complexity and reuse repeated code
  packages/shared-lib/src/utils/nativeAPIUtils.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

refactor: remove redundant function and fix typing
  packages/shared-lib/src/utils/nativeAPIUtils.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

feat: add event value to FB subscribe event
  src/utils/fbPixelUtils.ts
Due: none

fix: newDesignWithTemplate handle contentScaleRatio
  src/router/handler.ts
  src/utils/designUtils.ts
Due: none

fix: panelColor typo error
  src/components/editor/panelMobile/PanelColor.vue
Due: none

fix: fix the build problems cause by new tsconfig.app.json settings in charmix
  packages/shared-lib/package.json
  packages/shared-lib/pnpm-lock.yaml
  packages/shared-lib/src/components/Btn.vue
  packages/shared-lib/src/components/ColorBtn.vue
  packages/shared-lib/src/components/Dropdown.vue
  packages/shared-lib/src/index.ts
  packages/shared-lib/src/plugin.ts
  pnpm-lock.yaml
  projects/charmix/package.json
  projects/charmix/tsconfig.app.json
Due: deploy charmix to cmrd, deploy vivipic to rd

feat: send purchased event when sending subscribe event
  src/utils/fbPixelUtils.ts
Due: none

feat: add a tool script to find all used i18n keys for a certain project
  i18n-tool/i18n_shake.py
  projects/charmix/src/locales/jp_shaked.json
  projects/charmix/src/locales/tw_shaked.json
  projects/charmix/src/locales/us_shaked.json
  projects/stk/src/locales/jp_shaked.json
  projects/stk/src/locales/tw_shaked.json
  projects/stk/src/locales/us_shaked.json
  projects/vivipic/src/locales/jp_shaked.json
  projects/vivipic/src/locales/tw_shaked.json
  projects/vivipic/src/locales/us_shaked.json
Due: deploy charmix to cmrd, deploy vivipic to rd

chore(cm): add build-watch script for hot reload
  packages/shared-lib/package.json
Due: deploy charmix to cmrd, deploy vivipic to rd
