Repository s27840213/Vue-Devtool-Bug-Rereproduction: changes, and which Bitbucket steps are due for each by the changed paths.
All: deploy charmix to cmrd, deploy vivipic to rd

Path conditions:
  deploy charmix to cmrd: any of: *, projects/charmix/**, packages/**
  deploy vivipic to rd: any of: *, projects/vivipic/**, packages/**

fix: modify img in backendRendering
  projects/vivipic/src/components/editor/global/NuBgImage.vue
  projects/vivipic/src/components/editor/global/NuImage.vue
Due: deploy vivipic to rd

fix: missing crossOrigin: true
  projects/vivipic/src/components/editor/global/NuImage.vue
Due: deploy vivipic to rd

fix: add contentScaleRatio in img for mobile
  projects/vivipic/src/components/editor/global/NuImage.vue
Due: deploy vivipic to rd

fix: mac uses python3 and windows uses python
  .husky/commit-msg
Due: none

fix: fix build error
  projects/stk/src/App.vue
Due: none

fix: venv on Windows has some problems, ignore Windows for now
  tools/i18n-tool/README.md
  tools/i18n-tool/get_translation.sh
  tools/i18n-tool/i18n_shake.sh
  tools/package.json
Due: none

fix: update the messages of pr scripts
  tools/bash/create_pull_request_old.sh
  tools/bash/pr_develop_to_qa.sh
  tools/bash/pr_hotfix_to_all.sh
  tools/bash/pr_hotfix_to_cm.sh
  tools/bash/pr_hotfix_to_stk.sh
  tools/bash/pr_others.sh
Due: none

fix: fix picWVUtils init issue
  projects/stk/src/utils/picWVUtils.ts
  projects/vivipic/src/utils/picWVUtils.ts
Due: deploy vivipic to rd

cy: update baseline for NuImg/BgImg mobile CSR
  cypress-visual-screenshots/baseline/Image.cy.ts/Other image test mobile/Copy format after.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Other image test mobile/Copy format before.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Other image test mobile/Copy layer.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Other image test mobile/Delete after.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Other image test mobile/Delete before.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Other image test mobile/Lock locked.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Other image test mobile/Lock unlocked.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Other image test mobile/Oredr change.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Other image test mobile/Oredr restore.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Other image test mobile/RotateAndResize after resize.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Other image test mobile/RotateAndResize before resize.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Other image test mobile/init.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Align bottom-align.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Align center-horizontally.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Align center-vertically.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Align left-align.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Align right-align.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Align top-align.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Crop init.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Crop move down.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Crop move left.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Crop move right.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Crop scale top right.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Flip h.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Flip hv.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Flip v.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Set as BG.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Shadow blur default.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Shadow blur preset.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Shadow floating default.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Shadow floating preset.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Shadow frame default.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Shadow frame preset.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Shadow imageMatched default.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Shadow imageMatched preset.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Shadow shadow default.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Shadow shadow preset.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/init.png
Due: none

fix: fix the qa settings in pipeline yml
  bitbucket-pipelines.yml
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: tiny update to modify the step name in pipeline yml
  bitbucket-pipelines.yml
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: change the deploy bucket of vivistciker in prod env
  bitbucket-pipelines.yml
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: bgremove fit-page
  src/components/editor/backgroundRemove/BgRemoveArea.vue
  src/utils/pageUtils.ts
Due: none

fix: Apple Color Emoji should be put in the first place in font-family
  projects/stk/src/utils/cssConverter.ts
  projects/vivipic/src/utils/cssConverter.ts
Due: deploy vivipic to rd

fix: controlState optimize
  src/components/editor/global/NuController.vue
  src/components/vivisticker/VvstkEditor.vue
  src/store/index.ts
  src/store/types.ts
  src/utils/controlUtils.ts
  src/utils/movingUtils.ts
  src/utils/pinchControlUtils.ts
  src/utils/pointerEvtUtils.ts
Due: none

fix: show pro popup when clicking upload button or dropping files
  projects/stk/src/components/brandkit/BrandKitTextSetting.vue
  projects/stk/src/components/brandkit/mobile-tabs/BrandKitTabLogo.vue
  projects/stk/src/components/brandkit/mobile-tabs/BrandKitTabText.vue
  projects/stk/src/components/brandkit/tabs/BrandKitTabLogo.vue
  projects/stk/src/components/brandkit/tabs/BrandKitTabText.vue
  projects/stk/src/views/BrandKit.vue
  projects/vivipic/src/components/brandkit/BrandKitTextSetting.vue
  projects/vivipic/src/components/brandkit/mobile-tabs/BrandKitTabLogo.vue
  projects/vivipic/src/components/brandkit/mobile-tabs/BrandKitTabText.vue
  projects/vivipic/src/components/brandkit/tabs/BrandKitTabLogo.vue
  projects/vivipic/src/components/brandkit/tabs/BrandKitTabText.vue
  projects/vivipic/src/views/BrandKit.vue
Due: deploy vivipic to rd

feat: add image type
  src/components/vivisticker/VvstkEditor.vue
  src/utils/movingUtils.ts
  src/utils/pinchControlUtils.ts
  src/utils/pointerEvtUtils.ts
Due: none

fix: text bug
  src/components/editor/global/NuText.vue
  src/components/vivisticker/FooterTabs.vue
  src/components/vivisticker/VvstkEditor.vue
  src/utils/movingUtils.ts
  src/utils/pinchControlUtils.ts
  src/utils/pointerEvtUtils.ts
Due: none

fix: layer targetIndex, prevent layer overlayer
  src/components/vivisticker/VvstkEditor.vue
  src/utils/movingUtils.ts
Due: none

fix: use layerConfig instead for calculating by boundingRect to avoid problems at 45 degrees
  src/utils/controlUtils.ts
  src/utils/mathUtils.ts
Due: none

fix: movingHandler layerIndex
  src/utils/movingUtils.ts
Due: none

fix: consider contentScaleRatio on mobile
  src/utils/controlUtils.ts
  src/utils/mathUtils.ts
Due: none

chore: undo prettier's format
  projects/stk/src/utils/cssConverter.ts
  projects/vivipic/src/utils/cssConverter.ts
Due: deploy vivipic to rd

refactor: move common files to vivi-lib (add share files back)
  projects/vivipic/src/components/editor/panelMobile/PanelColor.vue
  projects/vivipic/src/components/popup/Popup.vue
  projects/vivipic/src/main.ts
  projects/vivipic/src/router/index.ts
  projects/vivipic/src/store/index.ts
Due: deploy vivipic to rd

fix: update i18n
  projects/stk/src/locales/jp_shaked.json
  projects/stk/src/locales/tw_shaked.json
  projects/stk/src/locales/us_shaked.json
  tools/i18n-tool/i18n_shake.py
Due: none

fix: fix charmix build type check error
  projects/charmix/tsconfig.app.json
Due: deploy charmix to cmrd

chore: prevent json commit key duplicate
  projects/charmix/tsconfig.json
Due: deploy charmix to cmrd

refactor: remove unused prerender.js and pkg
  projects/vivipic/build.prerender.js
  projects/vivipic/package.json
Due: deploy vivipic to rd

feat: list all emojis for testing font
  projects/stk/src/assets/json/result.json
  projects/stk/src/router/index.ts
  projects/stk/src/views/EmojiTest.vue
  projects/vivipic/src/assets/json/result.json
  projects/vivipic/src/router/index.ts
  projects/vivipic/src/views/EmojiTest.vue
Due: deploy vivipic to rd

feat: make the bottom panel transition smoother
  .eslintrc.cjs
  projects/charmix/src/App.vue
  projects/charmix/src/components/BottomPanel.vue
  projects/charmix/src/components/panel-content/AspectRatioSelector.vue
  projects/charmix/src/components/panel-content/EditingOptions.vue
  projects/charmix/src/components/panel-content/HomeTab.vue
  projects/charmix/src/locales/us.json
  projects/charmix/src/locales/us_shaked.json
  projects/charmix/src/views/EditorView.vue
  projects/charmix/src/views/HomeView.vue
  projects/vivipic/src/components/global/SvgIcon.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: sync pnpm-lock
  pnpm-lock.yaml
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: fix the TS2345 problems when building project
  pnpm-lock.yaml
  projects/charmix/src/App.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

revert: revert vivipic svgIcon.vue format
  projects/vivipic/src/components/global/SvgIcon.vue
Due: deploy vivipic to rd

fix: fix img require and svg sprite
  packages/vivi-lib/src/components/editor/panelFunction/PanelTextEffectSetting.vue
  packages/vivi-lib/src/components/payment/ProItem.vue
  packages/vivi-lib/src/utils/constantData.ts
  packages/vivi-lib/src/utils/textBgUtils.ts
  packages/vivi-lib/src/utils/textFillUtils.ts
  packages/vivi-lib/vite.config.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: use nativeEvent scale for e.scale
  src/components/vivisticker/VvstkEditor.vue
  src/utils/pinchControlUtils.ts
  src/utils/pointerEvtUtils.ts
Due: none

fix: fix pinch angle integer
  src/components/editor/global/NuController.vue
  src/utils/pinchControlUtils.ts
Due: none

feat: test the IOS API
  projects/charmix/src/App.vue
  projects/charmix/src/main.ts
  projects/charmix/src/utils/webViewUtils.ts
Due: deploy charmix to cmrd
