Repository s27840213/Vue-Devtool-Bug-Rereproduction: changes, and which Bitbucket steps are due for each by the changed paths.
All: deploy charmix to cmrd, deploy vivipic to rd

deploy charmix to cmrd:
  deployment: cmrd
  trigger: manual
  script:
  - pipe: atlassian/aws-s3-deploy:1.1.0
    variables:
      AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID_CHARMIX
      AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY_CHARMIX
      AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION_CHARMIX
      S3_BUCKET: nuphoto.co
  ...

deploy vivipic to rd:
  deployment: rd
  trigger: manual
  script:
  - pipe: atlassian/aws-s3-deploy:1.1.0
    variables:
      AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID_VIVIPIC_TEST
      AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY_VIVIPIC_TEST
      AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION_VIVIPIC_TEST
      S3_BUCKET: dev5.vivipic.com
  ...

fix(cm): fix some UI problems in charmix
  projects/charmix/src/components/global/BackBtn.vue
  projects/charmix/src/components/global/ImgSelector.vue
  projects/charmix/src/stores/global.ts
  projects/charmix/src/utils/webViewUtils.ts
  projects/charmix/src/views/HomeView.vue
  projects/charmix/src/views/SettingsView.vue
Due: deploy charmix to cmrd

fix: test some bitbucket settings
  bitbucket-pipelines.yml
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: test the old version img selector
  projects/charmix/src/components/global/ImgSelector.vue
Due: deploy charmix to cmrd

fix: fix the problems of rootMargin in img selector
  projects/charmix/src/components/global/ImgSelector.vue
  projects/charmix/src/main.ts
Due: deploy charmix to cmrd

fix: restore the new version img selector
  projects/charmix/src/components/global/ImgSelector.vue
Due: deploy charmix to cmrd

fix: fix the domain switch problems
  projects/charmix/src/components/global/FunctionBar.vue
  projects/charmix/src/components/home/HighlightSection.vue
  projects/charmix/src/views/SettingsView.vue
Due: deploy charmix to cmrd

refactor: remove unused soft link
  projects/charmix/src/i18n/full
  projects/stk/src/i18n/full
  projects/vivipic/src/i18n/full
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: panelAdjust reset button color for stk
  packages/vivi-lib/src/components/editor/panelMobile/PanelAdjust.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

chore: add @img alias, remove unused lib sprite
  package.json
  packages/vivi-lib/vite.config.ts
  projects/pic/src/components/Animation.vue
  projects/pic/vue.config.js
  projects/stk/vue.config.js
Due: deploy charmix to cmrd, deploy vivipic to rd

chore: add @img alias for lib
  packages/vivi-lib/vite.config.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: update lock.yaml
  pnpm-lock.yaml
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: fix some build time problems
  packages/vivi-lib/src/i18n/index.ts
  projects/cm/src/assets/scss/transition.scss
  projects/cm/src/assets/scss/transitions.scss
Due: deploy charmix to cmrd, deploy vivipic to rd

feat: change all stk panels to dark background and add new icons
  packages/vivi-lib/src/assets/icon/panel/panel-back.svg
  packages/vivi-lib/src/assets/icon/panel/panel-close.svg
  packages/vivi-lib/src/assets/icon/panel/panel-done.svg
  packages/vivi-lib/src/assets/icon/vivisticker/vivisticker-check.svg
  packages/vivi-lib/src/assets/icon/vivisticker/vivisticker_check.svg
  packages/vivi-lib/src/components/editor/mobile/MobilePanel.vue
  projects/pic/src/components/editor/mobile/MobilePanel.vue
  projects/stk/src/components/editor/mobile/MobilePanel.vue
  projects/stk/src/components/fullPage/Payment.vue
  projects/stk/src/components/slide/SlideUserSettings.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: add cm @i18n to solve build error
  packages/vivi-lib/vite.config.ts
  projects/cm/src/i18n/index.ts
  projects/cm/tsconfig.app.json
  projects/cm/vite.config.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

feat: merge EmojiText.vue
  packages/vivi-lib/src/imports.ts
  packages/vivi-lib/src/views/EmojiTest.vue
  projects/pic/src/router/index.ts
  projects/stk/src/router/index.ts
  projects/stk/src/views/EmojiTest.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: text hasActualMove cause editing error
  src/components/editor/global/NuImage.vue
  src/components/vivisticker/VvstkEditor.vue
  src/store/index.ts
  src/utils/movingUtils.ts
  src/utils/pinchControlUtils.ts
Due: none

refactor: use lib json file instead of project
  .git-blame-ignore-revs
  packages/vivi-lib/src/assets/json/Img_clip.json
  packages/vivi-lib/src/assets/json/editor.json
  packages/vivi-lib/src/assets/json/emoji.json
  packages/vivi-lib/src/assets/json/fram_test.json
  packages/vivi-lib/src/assets/json/frame.json
  packages/vivi-lib/src/assets/json/loginData.json
  packages/vivi-lib/src/assets/json/standard-text/body.json
  packages/vivi-lib/src/assets/json/standard-text/heading.json
  packages/vivi-lib/src/assets/json/standard-text/subheading.json
  packages/vivi-lib/src/utils/assetUtils.ts
  packages/vivi-lib/vite.config.ts
  projects/pic/src/assets/json/Img_clip.json
  projects/pic/src/assets/json/app.json
  projects/pic/src/assets/json/body.json
  projects/pic/src/assets/json/editor.json
  projects/pic/src/assets/json/fram_test.json
  projects/pic/src/assets/json/frame.json
  projects/pic/src/assets/json/heading.json
  projects/pic/src/assets/json/loginData.json
  projects/pic/src/assets/json/subheading.json
  projects/pic/src/router/index.ts
  projects/stk/src/assets/json/Img_clip.json
  projects/stk/src/assets/json/app.json
  projects/stk/src/assets/json/body.json
  projects/stk/src/assets/json/editor.json
  projects/stk/src/assets/json/fram_test.json
  projects/stk/src/assets/json/frame.json
  projects/stk/src/assets/json/heading.json
  projects/stk/src/assets/json/loginData.json
  projects/stk/src/assets/json/removeBgTest.json
  projects/stk/src/assets/json/result.json
  projects/stk/src/assets/json/subheading.json
  projects/stk/src/router/index.ts
  tools/vite-plugin-lib-extract-img/index.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: update the i18n script for charmix
  projects/charmix/src/assets/scss/transitions.scss
  projects/cm/src/i18n/index.ts
  projects/cm/src/i18n/shaked/tw.json
  projects/cm/src/i18n/shaked/us.json
  tools/i18n-tool/get_translation.py
  tools/i18n-tool/result/jp.json
  tools/i18n-tool/result/tw.json
  tools/i18n-tool/result/us.json
Due: deploy charmix to cmrd

fix: fix postTranslation type error
  packages/vivi-lib/src/i18n/index.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

feat: panel object adjust dark theme and layout change
  packages/vivi-lib/src/assets/icon/panel/panel-butt.svg
  packages/vivi-lib/src/assets/icon/panel/panel-round.svg
  packages/vivi-lib/src/assets/icon/panel/panel-rounded-corner.svg
  packages/vivi-lib/src/assets/icon/rounded-corner.svg
  packages/vivi-lib/src/assets/scss/utils/variables.scss
  packages/vivi-lib/src/components/editor/mobile/MobilePanel.vue
  packages/vivi-lib/src/components/editor/mobile/MobileSlider.vue
  packages/vivi-lib/src/components/editor/panelMobile/PanelObjectAdjust.vue
  projects/stk/src/components/editor/panelMobile/PanelBackground.vue
  projects/stk/src/components/us/PanelBackground.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

feat: dark theme for panels only with btn-action-mobile
  packages/vivi-lib/src/assets/scss/utils/mixins.scss
  packages/vivi-lib/src/components/editor/panelMobile/PanelFlip.vue
  packages/vivi-lib/src/components/editor/panelMobile/PanelOrder.vue
  packages/vivi-lib/src/components/editor/panelMobile/PanelPosition.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

feat: dark theme PanelNudge
  packages/vivi-lib/src/components/editor/panelMobile/PanelNudge.vue
  packages/vivi-lib/src/utils/colorUtils.ts
  projects/stk/src/components/editor/mobile/MobilePanel.vue
  tools/color-tool/color.txt
  tools/color-tool/result.txt
  tools/color-tool/scss2ts.py
Due: deploy charmix to cmrd, deploy vivipic to rd

feat: change disabled color
  packages/vivi-lib/src/components/editor/panelMobile/PanelObjectAdjust.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

feat: dark theme for panelGiphyMore
  packages/vivi-lib/src/assets/img/png/giphy-logo.png
  projects/stk/src/components/editor/mobile/MobilePanel.vue
  projects/stk/src/components/editor/panelMobile/PanelGiphyMore.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

feat: dark theme for PanelColor and ColorSlips
  packages/vivi-lib/src/assets/icon/check-mobile-circle-black.svg
  packages/vivi-lib/src/components/editor/mobile/MobilePanel.vue
  packages/vivi-lib/src/components/editor/panelMobile/PanelColor.vue
  packages/vivi-lib/src/components/global/ColorBtn.vue
  projects/pic/src/components/editor/ColorSlips.vue
  projects/stk/src/components/editor/ColorSlips.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

feat: vertically center texts
  projects/pic/src/components/editor/ColorSlips.vue
  projects/stk/src/components/editor/ColorSlips.vue
Due: none

feat: dark theme for color picker
  packages/vivi-lib/src/components/ColorPicker.vue
  packages/vivi-lib/src/components/colorPicker/Chrome.vue
  packages/vivi-lib/src/components/colorPicker/common/Hue.vue
  packages/vivi-lib/src/components/colorPicker/common/Saturation.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

feat: dark theme for PanelFonts
  packages/vivi-lib/src/components/category/CategoryFontItem.vue
  packages/vivi-lib/src/components/editor/panelFunction/PanelFonts.vue
  packages/vivi-lib/src/components/global/Tags.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

feat: dark theme for PanelFontSize
  packages/vivi-lib/src/assets/scss/components/slider.scss
  packages/vivi-lib/src/components/editor/mobile/MobileSlider.vue
  packages/vivi-lib/src/components/editor/panelMobile/PanelFontSize.vue
  packages/vivi-lib/src/components/input/FontSizeSelector.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

feat(stk): plan id postfix support(1.44) & getProducts support(1.45)
  packages/vivi-lib/src/interfaces/vivisticker.ts
  packages/vivi-lib/src/utils/constantData.ts
  packages/vivi-lib/src/utils/stkWVUtils.ts
  projects/stk/src/components/vivisticker/Payment.vue
  projects/stk/src/router/index.ts
  projects/stk/src/store/module/vivisticker.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

feat: dark theme for PanelFontFormat
  packages/vivi-lib/src/components/editor/panelMobile/PanelFontFormat.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

feat: disabled color change to #474747
  packages/vivi-lib/src/assets/scss/components/slider.scss
  packages/vivi-lib/src/assets/scss/utils/mixins.scss
  packages/vivi-lib/src/components/editor/panelMobile/PanelObjectAdjust.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: text in group pinching error
  src/components/editor/global/NuSubController.vue
  src/components/editor/global/NuText.vue
  src/components/vivisticker/VvstkEditor.vue
  src/utils/movingUtils.ts
  src/utils/pinchControlUtils.ts
  src/utils/pointerEvtUtils.ts
  src/utils/subControllerUtils.ts
Due: none

feat: dark theme for PanelTextEffect
  packages/vivi-lib/src/assets/scss/components/slider.scss
  packages/vivi-lib/src/components/Tabs.vue
  packages/vivi-lib/src/components/editor/panelMobile/PanelTextEffect.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

feat: dark theme for PanelRemoveBg
  packages/vivi-lib/src/assets/scss/components/button.scss
  packages/vivi-lib/src/components/editor/panelMobile/PanelRemoveBg.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

Path conditions:
  deploy charmix to cmrd: any of: *, projects/charmix/**, packages/**
  deploy vivipic to rd: any of: *, projects/vivipic/**, packages/**
