Repository s27840213/Vue-Devtool-Bug-Rereproduction: changes, and which Bitbucket steps are due for each by the changed paths.
All: deploy charmix to cmrd, deploy vivipic to rd

deploy charmix to cmrd:
  deployment: cmrd
  trigger: manual
  script:
  - pipe: atlassian/aws-s3-deploy:1.1.0
    variables:
      AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID_CHARMIX
      AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY_CHARMIX
      AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION_CHARMIX
      S3_BUCKET: nuphoto.co
  ...

deploy vivipic to rd:
  deployment: rd
  trigger: manual
  script:
  - pipe: atlassian/aws-s3-deploy:1.1.0
    variables:
      AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID_VIVIPIC_TEST
      AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY_VIVIPIC_TEST
      AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION_VIVIPIC_TEST
      S3_BUCKET: dev5.vivipic.com
  ...

chore: delete merged file
  projects/stk/src/components/editor/global/NuShape.vue
Due: none

refactor: merge stk subControllerUtils and NuSubController to vivi-lib
  packages/vivi-lib/src/utils/subControllerUtils.ts
  projects/stk/src/components/editor/global/NuSubController.vue
  projects/stk/src/main.ts
  projects/stk/src/utils/subControllerUtils.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: add editor bg color to ShareTemplate page container for bg with opacity
  projects/stk/src/components/vivisticker/ShareTemplate.vue
Due: none

feat: add string options to vuexUtils
  packages/vivi-lib/src/components/editor/global/NuController.vue
  packages/vivi-lib/src/components/editor/global/NuLayer.vue
  packages/vivi-lib/src/components/editor/global/NuSubController.vue
  packages/vivi-lib/src/components/editor/global/NuText.vue
  packages/vivi-lib/src/components/editor/page/PageContent.vue
  packages/vivi-lib/src/components/editor/panelFunction/PanelFonts.vue
  packages/vivi-lib/src/components/editor/panelMobile/PanelAdjust.vue
  packages/vivi-lib/src/utils/vuexUtils.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

refactor: merge stk NuFrame and NuImage to vivi-lib
  packages/vivi-lib/src/components/editor/global/NuFrame.vue
  packages/vivi-lib/src/components/editor/global/NuImage.vue
  projects/stk/src/components/editor/global/NuFrame.vue
  projects/stk/src/components/editor/global/NuImage.vue
  projects/stk/src/main.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: extract img in assets/img folder
  package.json
  packages/vivi-lib/vite.config.ts
  pnpm-lock.yaml
  tools/vite-plugin-lib-extract-img/index.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: bg color record
  projects/stk/src/components/editor/global/NuPage.vue
  projects/stk/src/components/editor/mobile/MobileEditorView.vue
  projects/stk/src/components/editor/panelSidebar/PanelBackground.vue
  projects/vivipic/src/components/editor/global/NuPage.vue
  projects/vivipic/src/components/editor/mobile/MobileEditorView.vue
  projects/vivipic/src/components/editor/panelSidebar/PanelBackground.vue
Due: deploy vivipic to rd

fix: frame flip error
  projects/stk/src/components/editor/global/NuLayer.vue
  projects/stk/src/utils/frameUtils.ts
  projects/vivipic/src/components/editor/global/NuLayer.vue
  projects/vivipic/src/utils/frameUtils.ts
Due: deploy vivipic to rd

fix: frame detach img not flip frame layer
  projects/stk/src/utils/frameUtils.ts
  projects/vivipic/src/utils/frameUtils.ts
Due: deploy vivipic to rd

fix(pic): isInFrame flag
  projects/vivipic/src/components/editor/mobile/FooterTabs.vue
Due: deploy vivipic to rd

feat: add warning modal for deleting uploaded images
  projects/stk/src/components/editor/panelSidebar/PanelFile.vue
  projects/stk/src/locales/jp.json
  projects/stk/src/locales/jp_shaked.json
  projects/stk/src/locales/pt.json
  projects/stk/src/locales/pt_shaked.json
  projects/stk/src/locales/tw.json
  projects/stk/src/locales/tw_shaked.json
  projects/stk/src/locales/us.json
  projects/stk/src/locales/us_shaked.json
  projects/vivipic/src/components/editor/panelSidebar/PanelFile.vue
  projects/vivipic/src/locales/jp.json
  projects/vivipic/src/locales/jp_shaked.json
  projects/vivipic/src/locales/tw.json
  projects/vivipic/src/locales/tw_shaked.json
  projects/vivipic/src/locales/us.json
  projects/vivipic/src/locales/us_shaked.json
Due: deploy vivipic to rd

cy: fix cypress error of handleDimensionUpdate & handleContentScaleRatio
  projects/stk/src/components/editor/global/NuImage.vue
  projects/stk/src/components/editor/mobile/MobileEditorView.vue
  projects/vivipic/src/components/editor/global/NuImage.vue
  projects/vivipic/src/components/editor/mobile/MobileEditorView.vue
Due: deploy vivipic to rd

feat: use light-outline for cancel button
  projects/stk/src/components/editor/panelSidebar/PanelFile.vue
  projects/vivipic/src/assets/scss/components/button.scss
  projects/vivipic/src/components/editor/panelSidebar/PanelFile.vue
Due: deploy vivipic to rd

feat: frame flip logic modified
  projects/stk/src/components/editor/global/NuLayer.vue
  projects/stk/src/utils/frameUtils.ts
  projects/vivipic/src/components/editor/global/NuLayer.vue
  projects/vivipic/src/utils/frameUtils.ts
Due: deploy vivipic to rd

refactor: reduce the difference between pic and stk MobilePanel before merging
  projects/stk/src/components/vivisticker/MobilePanel.vue
  projects/vivipic/src/components/editor/mobile/MobilePanel.vue
Due: deploy vivipic to rd

fix: pointer untracking error as scaling
  src/components/editor/controlPoint/ActionIcon.vue
  src/components/editor/global/NuController.vue
  src/components/editor/global/NuLayer.vue
  src/store/index.ts
  src/utils/movingUtils.ts
  src/utils/pinchControlUtils.ts
Due: none

fix: only stk needs to addRecentlyBgColor
  packages/vivi-lib/src/components/editor/panelMobile/PanelColor.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

refactor: merge pic and stk MobilePanels using extend and mixin
  packages/vivi-lib/src/components/editor/mobile/MobilePanel.vue
  packages/vivi-lib/src/imports.ts
  packages/vivi-lib/src/mixin/mobilePanel.ts
  projects/stk/src/components/vivisticker/MobilePanel.vue
  projects/vivipic/src/components/editor/mobile/MobilePanel.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

refactor: merge stk CategoryList files into vivi-lib
  packages/vivi-lib/src/components/LinkOrText.vue
  packages/vivi-lib/src/components/category/CategoryList.vue
  packages/vivi-lib/src/components/category/CategoryListRow.vue
  packages/vivi-lib/src/components/category/CategoryListRows.vue
  projects/stk/src/components/category/CategoryList.vue
  projects/stk/src/components/category/CategoryListRow.vue
  projects/stk/src/components/category/CategoryListRows.vue
  projects/stk/src/components/vivisticker/HeaderTabs.vue
  projects/stk/src/components/vivisticker/MyDesign.vue
  projects/stk/src/components/vivisticker/PanelBackground.vue
  projects/stk/src/components/vivisticker/PanelObjectGifs.vue
  projects/stk/src/components/vivisticker/PanelObjectStatic.vue
  projects/stk/src/components/vivisticker/PanelTemplate.vue
  projects/stk/src/components/vivisticker/PanelTemplateContent.vue
  projects/stk/src/components/vivisticker/PanelText.vue
  projects/stk/src/components/vivisticker/us/CategoryObjectCard.vue
  projects/stk/src/components/vivisticker/us/PanelObjectGifs.vue
  projects/stk/src/components/vivisticker/us/PanelObjectStatic.vue
  projects/stk/src/components/vivisticker/us/PanelText.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

fix(cm): remove condition in pipeline yml
  bitbucket-pipelines.yml
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: fix CCategoryList import path
  projects/stk/src/components/vivisticker/PanelObject.vue
Due: none

refactor: merge stk HeaderTabs to vivi-lib
  packages/vivi-lib/src/components/editor/mobile/HeaderTab.vue
  packages/vivi-lib/src/components/editor/mobile/HeaderTabs.vue
  packages/vivi-lib/src/imports.ts
  projects/stk/src/components/vivisticker/HeaderTabs.vue
  projects/vivipic/src/components/editor/mobile/HeaderTabs.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

refactor: merge stk (main.ts)
  packages/vivi-lib/src/main.ts
  projects/stk/src/main.ts
  projects/vivipic/src/main.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

refactor: merge stk (listFactory and its children)
  packages/vivi-lib/src/interfaces/module.ts
  packages/vivi-lib/src/store/index.ts
  packages/vivi-lib/src/store/module/font.ts
  packages/vivi-lib/src/store/module/listFactory.ts
  packages/vivi-lib/src/store/module/listFactoryPic.ts
  packages/vivi-lib/src/store/module/listFactoryStk.ts
  packages/vivi-lib/src/store/module/templates.ts
  projects/charmix/src/i18n/shaked/jp.json
  projects/charmix/src/i18n/shaked/pt.json
  projects/charmix/src/i18n/shaked/tw.json
  projects/charmix/src/i18n/shaked/us.json
  projects/stk/src/store/index.ts
  projects/stk/src/store/module/background.ts
  projects/stk/src/store/module/font.ts
  projects/stk/src/store/module/markers.ts
  projects/stk/src/store/module/objects.ts
  projects/stk/src/store/module/templates.ts
  projects/stk/src/store/module/text.ts
  projects/vivipic/src/components/editor/panelSidebar/PanelBackground.vue
  projects/vivipic/src/components/editor/panelSidebar/PanelObject.vue
  projects/vivipic/src/components/editor/panelSidebar/PanelTemplate.vue
  projects/vivipic/src/components/editor/panelSidebar/PanelText.vue
  projects/vivipic/src/components/popup/PopupReplace.vue
  projects/vivipic/src/i18n/shaked/jp.json
  projects/vivipic/src/i18n/shaked/pt.json
  projects/vivipic/src/i18n/shaked/tw.json
  projects/vivipic/src/i18n/shaked/us.json
  projects/vivipic/src/store/index.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

refactor: rename listFactory in lib
  packages/vivi-lib/src/store/module/listFactoryPic.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: change i18n ally path
  .vscode/settings.json
Due: none

refactor: merge stk and pic FooterTabs
  packages/vivi-lib/src/components/editor/mobile/FooterTabs.vue
  packages/vivi-lib/src/imports.ts
  projects/stk/src/components/vivisticker/FooterTabs.vue
  projects/vivipic/src/components/editor/mobile/FooterTabs.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: fix styles hierachy and overriding mechanism
  packages/vivi-lib/src/components/editor/mobile/FooterTabs.vue
  projects/stk/src/components/vivisticker/FooterTabs.vue
  projects/vivipic/src/components/editor/mobile/FooterTabs.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

chore: fix typo in comment and add skip list in replaceImportPath.py
  packages/vivi-lib/src/components/editor/mobile/FooterTabs.vue
  tools/file-sharing/replaceImportPath.py
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: fix ColorSlips title color
  projects/stk/src/components/editor/ColorSlips.vue
  projects/vivipic/src/components/editor/ColorSlips.vue
Due: deploy vivipic to rd

fix: add @include pic to increase specificity for overriding and hide scrollbar when in mobile
  packages/vivi-lib/src/components/editor/panelFunction/PanelFonts.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

fix(pic): make comparison panel undraggable
  projects/vivipic/src/components/popup/PopupPayment.vue
Due: deploy vivipic to rd

fix: fix useRoute in HomeFooterTabs
  projects/vivipic/src/components/homepage/HomeFooterTabs.vue
Due: deploy vivipic to rd

fix: FooterTabs.vue has non-scoped scss, HomeFooterTabs.vue cannot use same class name
  projects/vivipic/src/components/homepage/HomeFooterTabs.vue
Due: deploy vivipic to rd

refactor: refactor stk vue.config.js
  projects/stk/vue.config.js
Due: none

chore: update i18n text
  projects/vivipic/src/i18n/shaked/us.json
  tools/i18n-tool/result/us.json
Due: deploy vivipic to rd

fix: fix PanelSidebar type error
  .git-blame-ignore-revs
  projects/vivipic/src/components/editor/panelSidebar/PanelBackground.vue
  projects/vivipic/src/components/editor/panelSidebar/PanelObject.vue
  projects/vivipic/src/components/editor/panelSidebar/PanelTemplate.vue
  projects/vivipic/src/components/editor/panelSidebar/PanelText.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

feat(pic): pop payment view after login or register
  projects/vivipic/src/App.vue
  projects/vivipic/src/components/popup/PopupPayment.vue
  projects/vivipic/src/views/Login/Login.vue
  projects/vivipic/src/views/Login/SignUp.vue
Due: deploy vivipic to rd

fix: fix PanelSidebar type error
  projects/vivipic/src/components/editor/panelSidebar/PanelBackground.vue
  projects/vivipic/src/components/editor/panelSidebar/PanelObject.vue
  projects/vivipic/src/components/editor/panelSidebar/PanelTemplate.vue
  projects/vivipic/src/components/editor/panelSidebar/PanelText.vue
Due: deploy vivipic to rd

Path conditions:
  deploy charmix to cmrd: any of: *, projects/charmix/**, packages/**
  deploy vivipic to rd: any of: *, projects/vivipic/**, packages/**
