Repository s27840213/Vue-Devtool-Bug-Rereproduction: changes, and which Bitbucket steps are due for each by the changed paths.
All: deploy charmix to cmrd, deploy vivipic to rd

deploy charmix to cmrd:
  deployment: cmrd
  trigger: manual
  script:
  - pipe: atlassian/aws-s3-deploy:1.1.0
    variables:
      AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID_CHARMIX
      AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY_CHARMIX
      AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION_CHARMIX
      S3_BUCKET: nuphoto.co
  ...

deploy vivipic to rd:
  deployment: rd
  trigger: manual
  script:
  - pipe: atlassian/aws-s3-deploy:1.1.0
    variables:
      AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID_VIVIPIC_TEST
      AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY_VIVIPIC_TEST
      AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION_VIVIPIC_TEST
      S3_BUCKET: dev5.vivipic.com
  ...

fix: update the bitbucket pipeline yml for hotfix branch
  bitbucket-pipelines.yml
Due: deploy charmix to cmrd, deploy vivipic to rd

feat: use Apple Color Emoji especially for certain font id
  src/store/text/index.ts
  src/utils/cssConverter.ts
  src/utils/textUtils.ts
Due: none

fix: add hotfix to all step in bitbucket pipeline yml
  bitbucket-pipelines.yml
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: add contentScaleRatio in img for mobile
  src/components/editor/global/NuImage.vue
Due: none

fix: get default price and trial state by storeCountry
  src/components/vivisticker/Payment.vue
  src/interfaces/vivisticker.ts
  src/router/index.ts
  src/utils/constantData.ts
  src/utils/vivistickerUtils.ts
Due: none

fix: fix style of payment notice
  src/components/vivisticker/Payment.vue
Due: none

chore: update tool/setting for delete pic file
  packages/vivi-lib/package.json
  packages/vivi-lib/src/components.ts
  projects/vivipic/tsconfig.json
  tools/file-sharing/replaceImportPath.py
Due: deploy charmix to cmrd, deploy vivipic to rd

test: add control state
  src/components/editor/global/NuController.vue
  src/components/editor/mobile/MobileEditorView.vue
  src/store/index.ts
  src/store/types.ts
  src/utils/movingUtils.ts
  src/utils/pointerEvtUtils.ts
Due: none

fix(cm): rename some global components in charmix, and update the home page UI
  .vscode/settings.json
  projects/charmix/src/assets/icon/crown.svg
  projects/charmix/src/assets/icon/social-media/instagram.svg
  projects/charmix/src/assets/icon/social-media/tiktok.svg
  projects/charmix/src/assets/img/ig-3d.png
  projects/charmix/src/assets/img/logo.png
  projects/charmix/src/assets/img/tiktok-3d.png
  projects/charmix/src/components.d.ts
  projects/charmix/src/components/Headerbar.vue
  projects/charmix/src/components/global/BackBtn.vue
  projects/charmix/src/components/global/CmBtn.vue
  projects/charmix/src/components/global/CmSvgIcon.vue
  projects/charmix/src/components/home/HighlightSection.vue
  projects/charmix/src/components/panel-content/AspectRatioSelector.vue
  projects/charmix/src/components/panel-content/EditingOptions.vue
  projects/charmix/src/components/panel-content/HomeTab.vue
  projects/charmix/src/components/panel-content/ModalTemplate.vue
  projects/charmix/src/components/panel-content/PromptArea.vue
  projects/charmix/src/locales/us.json
  projects/charmix/src/locales/us_shaked.json
  projects/charmix/src/views/BtnView.vue
  projects/charmix/src/views/HomeView.vue
  projects/charmix/src/views/MyDesignView.vue
  tools/i18n-tool/Pipfile
Due: deploy charmix to cmrd

fix: hotfix imgsize considering contentScaleRatio
  src/components/editor/global/NuBgImage.vue
  src/components/editor/global/NuImage.vue
Due: none

fix: adjustImage ref changed to 'adjust-image'
  src/components/editor/global/NuBgImage.vue
  src/components/editor/global/NuImage.vue
Due: none

fix: fix typo
  src/components/editor/global/NuImage.vue
Due: none

chore: remove console.log
  src/components/editor/global/NuImage.vue
Due: none

chore: remove console.log (2)
  src/components/editor/global/NuImage.vue
Due: none

fix: missing crossOrigin: true
  src/components/editor/global/NuImage.vue
Due: none

fix: missing crossOrigin
  src/components/editor/global/NuBgImage.vue
Due: none

fix: handleIsTransparent naturalSize issues
  src/components/editor/global/NuBgImage.vue
  src/components/editor/global/NuImage.vue
Due: none

fix: update default prices
  src/utils/vivistickerUtils.ts
Due: none

fix: replace ' into \\' after getting params from screenshotDone like creating the url for json
  src/utils/vivistickerUtils.ts
Due: none

fix: move prerender static files to production env
  projects/vivipic/vue.config.js
Due: deploy vivipic to rd

fix: change the caches target
  bitbucket-pipelines.yml
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: remove ga from vivisticker and add comment to clarify special code design
  src/App.vue
  src/utils/picWVUtils.ts
Due: none

feat: use a seperate variable for vivisticker to disable vivipic native event
  src/utils/picWVUtils.ts
Due: none

feat: set picWVUtils.nativeEventDisabled = true for vivisticker
  src/utils/picWVUtils.ts
Due: none

chore: remove outdated comment
  src/utils/picWVUtils.ts
Due: none

fix: fix the branch name check script in commit-msg script
  .husky/commit-msg
  projects/charmix/src/components.d.ts
Due: deploy charmix to cmrd

fix: skip SET_STATE for subscribeInfo if on simulator
  src/utils/vivistickerUtils.ts
Due: none

feat: add debug tools to vvstk
  src/App.vue
  src/components/editor/panelMobile/PanelVvstkMore.vue
Due: none

feat(pic): udpate images for payment view
  projects/vivipic/src/assets/img/jpg/pricing/jp/brandkit.jpg
  projects/vivipic/src/assets/img/jpg/pricing/jp/export-pdf-print.jpg
  projects/vivipic/src/assets/img/jpg/pricing/jp/page-resize.jpg
  projects/vivipic/src/assets/img/jpg/pricing/jp/pro-bg.jpg
  projects/vivipic/src/assets/img/jpg/pricing/jp/pro-object.jpg
  projects/vivipic/src/assets/img/jpg/pricing/jp/pro-template1.jpg
  projects/vivipic/src/assets/img/jpg/pricing/jp/pro-text.jpg
  projects/vivipic/src/assets/img/jpg/pricing/jp/remover.jpg
  projects/vivipic/src/assets/img/jpg/pricing/tw/brandkit.jpg
  projects/vivipic/src/assets/img/jpg/pricing/tw/export-pdf-print.jpg
  projects/vivipic/src/assets/img/jpg/pricing/tw/page-resize.jpg
  projects/vivipic/src/assets/img/jpg/pricing/tw/pro-bg.jpg
  projects/vivipic/src/assets/img/jpg/pricing/tw/pro-object.jpg
  projects/vivipic/src/assets/img/jpg/pricing/tw/pro-template1.jpg
  projects/vivipic/src/assets/img/jpg/pricing/tw/pro-text.jpg
  projects/vivipic/src/assets/img/jpg/pricing/tw/remover.jpg
  projects/vivipic/src/assets/img/jpg/pricing/us/brandkit.jpg
  projects/vivipic/src/assets/img/jpg/pricing/us/export-pdf-print.jpg
  projects/vivipic/src/assets/img/jpg/pricing/us/page-resize.jpg
  projects/vivipic/src/assets/img/jpg/pricing/us/pro-bg.jpg
  projects/vivipic/src/assets/img/jpg/pricing/us/pro-object.jpg
  projects/vivipic/src/assets/img/jpg/pricing/us/pro-template1.jpg
  projects/vivipic/src/assets/img/jpg/pricing/us/pro-text.jpg
  projects/vivipic/src/assets/img/jpg/pricing/us/remover.jpg
Due: deploy vivipic to rd

fix: modify img in backendRendering
  src/components/editor/global/NuBgImage.vue
  src/components/editor/global/NuImage.vue
Due: none

fix: bgremoveArea not need reset contentScaleRatio
  src/components/editor/backgroundRemove/BgRemoveArea.vue
  src/components/editor/mobile/MobileEditorView.vue
  src/utils/pageUtils.ts
Due: none

feat: remove tcolud pricing link
  projects/stk/src/utils/constantData.ts
Due: none

fix: hotfix imgsize considering contentScaleRatio
  projects/vivipic/src/components/editor/global/NuBgImage.vue
  projects/vivipic/src/components/editor/global/NuImage.vue
Due: deploy vivipic to rd

feat: use Apple Color Emoji especially for certain font id
  projects/vivipic/src/store/text/index.ts
  projects/vivipic/src/utils/cssConverter.ts
  projects/vivipic/src/utils/textUtils.ts
Due: deploy vivipic to rd

fix: handleIsTransparent naturalSize issues
  projects/vivipic/src/components/editor/global/NuBgImage.vue
  projects/vivipic/src/components/editor/global/NuImage.vue
Due: deploy vivipic to rd

fix: bgremoveArea not need reset contentScaleRatio
  projects/stk/src/components/editor/mobile/MobileEditorView.vue
  projects/vivipic/src/components/editor/backgroundRemove/BgRemoveArea.vue
  projects/vivipic/src/utils/pageUtils.ts
Due: deploy vivipic to rd

refactor: sync changes with vivisticker
  packages/shared-lib/src/components/ToggleBtn.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: missing crossOrigin
  projects/vivipic/src/components/editor/global/NuBgImage.vue
Due: deploy vivipic to rd

feat: use a seperate variable for vivisticker to disable vivipic native event
  projects/vivipic/src/utils/picWVUtils.ts
Due: deploy vivipic to rd

Path conditions:
  deploy charmix to cmrd: any of: *, projects/charmix/**, packages/**
  deploy vivipic to rd: any of: *, projects/vivipic/**, packages/**
