Repository s27840213/Vue-Devtool-Bug-Rereproduction: changes, and which Bitbucket steps are due for each by the changed paths.
All: deploy charmix to cmrd, deploy vivipic to rd

deploy charmix to cmrd:
  deployment: cmrd
  trigger: manual
  script:
  - pipe: atlassian/aws-s3-deploy:1.1.0
    variables:
      AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID_CHARMIX
      AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY_CHARMIX
      AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION_CHARMIX
      S3_BUCKET: nuphoto.co
  ...

deploy vivipic to rd:
  deployment: rd
  trigger: manual
  script:
  - pipe: atlassian/aws-s3-deploy:1.1.0
    variables:
      AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID_VIVIPIC_TEST
      AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY_VIVIPIC_TEST
      AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION_VIVIPIC_TEST
      S3_BUCKET: dev5.vivipic.com
  ...

fix: fix stk NativeEventTester type import warn
  projects/stk/src/views/NativeEventTester.vue
Due: none

feat: update i18n scripts to put shaked jsons in vivi-lib and make i18n import dependent of app
  packages/vivi-lib/src/i18n/index.ts
  packages/vivi-lib/src/locales/charmix/jp_shaked.json
  packages/vivi-lib/src/locales/charmix/pt_shaked.json
  packages/vivi-lib/src/locales/charmix/tw_shaked.json
  packages/vivi-lib/src/locales/charmix/us_shaked.json
  packages/vivi-lib/src/locales/jp.json
  packages/vivi-lib/src/locales/pt_shaked.json
  packages/vivi-lib/src/locales/stk/jp_shaked.json
  packages/vivi-lib/src/locales/stk/pt_shaked.json
  packages/vivi-lib/src/locales/stk/tw_shaked.json
  packages/vivi-lib/src/locales/stk/us_shaked.json
  packages/vivi-lib/src/locales/tw.json
  packages/vivi-lib/src/locales/us.json
  packages/vivi-lib/src/locales/vivipic/jp_shaked.json
  packages/vivi-lib/src/locales/vivipic/pt_shaked.json
  packages/vivi-lib/src/locales/vivipic/tw_shaked.json
  packages/vivi-lib/src/locales/vivipic/us_shaked.json
  tools/i18n-tool/get_translation.py
  tools/i18n-tool/i18n_shake.py
Due: deploy charmix to cmrd, deploy vivipic to rd

feat(stk): show push modal first
  projects/stk/src/views/ViviSticker.vue
Due: none

fix: explicitly write i18n keys for shake.py
  packages/vivi-lib/src/locales/vivipic/tw_shaked.json
  projects/stk/.env
  projects/vivipic/src/components/NuFooter.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: swap dev prod used jsons
  packages/vivi-lib/src/i18n/index.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

chore: update imports and its script
  packages/vivi-lib/src/imports.ts
  packages/vivi-lib/src/interfaces/webView.ts
  tools/file-sharing/updateVivilibImports.py
Due: deploy charmix to cmrd, deploy vivipic to rd

chore: add ignore commit
  .git-blame-ignore-revs
Due: deploy charmix to cmrd, deploy vivipic to rd

feat: complete autoWVUtils
  packages/vivi-lib/src/utils/autoWVUtils.ts
  packages/vivi-lib/src/utils/webViewUtils.ts
  projects/stk/src/router/index.ts
  projects/stk/src/utils/autoWVUtils.ts
  projects/stk/src/views/NativeEventTester.vue
  projects/stk/src/views/SvgIconView.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

chore: add python.sh script
  tools/bash/python.sh
  tools/package.json
Due: none

fix: fix missing i18n
  projects/stk/src/components/NuFooter.vue
  projects/stk/src/locales/jp_shaked.json
  projects/stk/src/locales/tw_shaked.json
  projects/stk/src/locales/us_shaked.json
  projects/stk/src/utils/constantData.ts
  projects/vivipic/src/components/NuFooter.vue
  projects/vivipic/src/locales/jp_shaked.json
  projects/vivipic/src/locales/tw_shaked.json
  projects/vivipic/src/locales/us_shaked.json
  projects/vivipic/src/utils/constantData.ts
Due: deploy vivipic to rd

fix: control-pointer with pinch action
  src/components/editor/controlPoint/ActionIcon.vue
  src/components/editor/global/NuController.vue
  src/components/editor/global/NuImgController.vue
  src/components/editor/global/NuLayer.vue
  src/components/vivisticker/VvstkEditor.vue
  src/store/index.ts
  src/store/types.ts
  src/utils/movingUtils.ts
Due: none

fix: vvstkEditor deslect for singe touch
  src/components/vivisticker/VvstkEditor.vue
  src/utils/movingUtils.ts
  src/utils/pointerEvtUtils.ts
Due: none

feat: add imgFrame type
  src/components/vivisticker/VvstkEditor.vue
  src/utils/pinchControlUtils.ts
  src/utils/pointerEvtUtils.ts
Due: none

fix: turn off i18n html warning
  projects/vivipic/src/i18n/index.ts
Due: deploy vivipic to rd

fix: text poitnerleave remove pointerId
  src/components/vivisticker/VvstkEditor.vue
Due: none

fix: text editing bug
  src/components/vivisticker/VvstkEditor.vue
Due: none

fix: add hint for Windows RDs to run python.sh
  tools/bash/python.sh
Due: none

fix: imgNaturalSize error
  src/components/editor/global/NuBgImage.vue
  src/components/editor/global/NuImage.vue
Due: none

fix(pic): imgNaturalSize error
  projects/stk/src/components/editor/global/NuBgImage.vue
  projects/stk/src/components/editor/global/NuImage.vue
Due: none

fix(pix): add vvipic change
  projects/vivipic/src/components/editor/global/NuBgImage.vue
  projects/vivipic/src/components/editor/global/NuImage.vue
Due: deploy vivipic to rd

fix(pic): load src order after set naturalSize
  projects/stk/src/components/editor/global/NuImage.vue
  projects/vivipic/src/components/editor/global/NuBgImage.vue
Due: deploy vivipic to rd

fix: optimize textFillMaskImg
  projects/stk/src/assets/img/text-effect/text-fill-mask-image.svg
  projects/vivipic/src/assets/img/text-effect/text-fill-mask-image.svg
Due: deploy vivipic to rd

refactor: merge stk (api/list.ts)
  packages/vivi-lib/src/apis/list.ts
  projects/stk/src/apis/list.ts
  projects/stk/src/components/vivisticker/PanelText.vue
  projects/stk/src/store/module/background.ts
  projects/stk/src/store/module/font.ts
  projects/stk/src/store/module/listFactory.ts
  projects/stk/src/store/module/markers.ts
  projects/stk/src/store/module/objects.ts
  projects/stk/src/store/module/templates.ts
  projects/stk/src/store/module/text.ts
  projects/stk/src/utils/assetUtils.ts
  projects/stk/src/utils/themeUtils.ts
  projects/stk/src/utils/uploadUtils.ts
  projects/vivipic/src/assets/scss/utils/functions.scss
Due: deploy charmix to cmrd, deploy vivipic to rd

feat: show the log count in debug tool
  projects/stk/src/App.vue
  projects/stk/src/components/componentLog/DebugTool.vue
  projects/stk/src/utils/logUtils.ts
  projects/vivipic/src/App.vue
  projects/vivipic/src/components/componentLog/DebugTool.vue
  projects/vivipic/src/utils/logUtils.ts
Due: deploy vivipic to rd

refactor: delete vivi-lib scss
  packages/vivi-lib/src/assets/scss/base/colors.scss
  packages/vivi-lib/src/assets/scss/base/helpers.scss
  packages/vivi-lib/src/assets/scss/base/index.scss
  packages/vivi-lib/src/assets/scss/base/reset.scss
  packages/vivi-lib/src/assets/scss/base/transition.scss
  packages/vivi-lib/src/assets/scss/base/typography.scss
  packages/vivi-lib/src/assets/scss/components/button.scss
  packages/vivi-lib/src/assets/scss/components/components.scss
  packages/vivi-lib/src/assets/scss/components/controlPoint.scss
  packages/vivi-lib/src/assets/scss/components/index.scss
  packages/vivi-lib/src/assets/scss/components/scrollbar.scss
  packages/vivi-lib/src/assets/scss/components/slider.scss
  packages/vivi-lib/src/assets/scss/components/tooltip.scss
  packages/vivi-lib/src/assets/scss/main.scss
  packages/vivi-lib/src/assets/scss/utils/formatStyle.scss
  packages/vivi-lib/src/assets/scss/utils/functions.scss
  packages/vivi-lib/src/assets/scss/utils/index.scss
  packages/vivi-lib/src/assets/scss/utils/mixins.scss
  packages/vivi-lib/src/assets/scss/utils/variables.scss
Due: deploy charmix to cmrd, deploy vivipic to rd

refactor: move scss from pic to lib
  packages/vivi-lib/src/assets/scss/base/colors.scss
  packages/vivi-lib/src/assets/scss/base/helpers.scss
  packages/vivi-lib/src/assets/scss/base/index.scss
  packages/vivi-lib/src/assets/scss/base/reset.scss
  packages/vivi-lib/src/assets/scss/base/transition.scss
  packages/vivi-lib/src/assets/scss/base/typography.scss
  packages/vivi-lib/src/assets/scss/components/button.scss
  packages/vivi-lib/src/assets/scss/components/components.scss
  packages/vivi-lib/src/assets/scss/components/controlPoint.scss
  packages/vivi-lib/src/assets/scss/components/index.scss
  packages/vivi-lib/src/assets/scss/components/scrollbar.scss
  packages/vivi-lib/src/assets/scss/components/slider.scss
  packages/vivi-lib/src/assets/scss/components/tooltip.scss
  packages/vivi-lib/src/assets/scss/main.scss
  packages/vivi-lib/src/assets/scss/utils/formatStyle.scss
  packages/vivi-lib/src/assets/scss/utils/functions.scss
  packages/vivi-lib/src/assets/scss/utils/index.scss
  packages/vivi-lib/src/assets/scss/utils/mixins.scss
  packages/vivi-lib/src/assets/scss/utils/variables.scss
Due: deploy charmix to cmrd, deploy vivipic to rd

refactor: use lib scss in pic
  package.json
  packages/vivi-lib/package.json
  packages/vivi-lib/src/assets/scss/base/colors.scss
  packages/vivi-lib/src/assets/scss/base/index.scss
  packages/vivi-lib/src/assets/scss/base/transition.scss
  packages/vivi-lib/src/assets/scss/base/typography.scss
  packages/vivi-lib/src/assets/scss/components/button.scss
  packages/vivi-lib/src/assets/scss/components/components.scss
  packages/vivi-lib/src/assets/scss/components/controlPoint.scss
  packages/vivi-lib/src/assets/scss/components/index.scss
  packages/vivi-lib/src/assets/scss/components/scrollbar.scss
  packages/vivi-lib/src/assets/scss/components/slider.scss
  packages/vivi-lib/src/assets/scss/components/tooltip.scss
  packages/vivi-lib/src/assets/scss/main.scss
  packages/vivi-lib/src/assets/scss/utils/formatStyle.scss
  packages/vivi-lib/src/assets/scss/utils/functions.scss
  packages/vivi-lib/src/assets/scss/utils/index.scss
  packages/vivi-lib/src/assets/scss/utils/mixins.scss
  packages/vivi-lib/vite.config.ts
  pnpm-lock.yaml
  projects/vivipic/src/App.vue
  projects/vivipic/src/views/TemplateCenter.vue
  projects/vivipic/vue.config.js
Due: deploy charmix to cmrd, deploy vivipic to rd

chore: remove unused jsons
  projects/stk/src/locales/jp.json
  projects/stk/src/locales/jp_shaked.json
  projects/stk/src/locales/pt.json
  projects/stk/src/locales/pt_shaked.json
  projects/stk/src/locales/tw.json
  projects/stk/src/locales/tw_shaked.json
  projects/stk/src/locales/us.json
  projects/stk/src/locales/us_shaked.json
  projects/vivipic/src/locales/jp.json
  projects/vivipic/src/locales/jp_shaked.json
  projects/vivipic/src/locales/tw.json
  projects/vivipic/src/locales/tw_shaked.json
  projects/vivipic/src/locales/us.json
  projects/vivipic/src/locales/us_shaked.json
Due: deploy vivipic to rd

refactor: merge files (until useCanvasUtils.ts) from stk to vivi-lib
  packages/vivi-lib/src/interfaces/editor.ts
  packages/vivi-lib/src/store/text/index.ts
  projects/stk/src/components/editor/global/CustomElement.vue
  projects/stk/src/components/editor/global/NuLayer.vue
  projects/stk/src/components/editor/global/NuText.vue
  projects/stk/src/components/editor/page/PageContent.vue
  projects/stk/src/components/editor/panelMobile/PanelFlip.vue
  projects/stk/src/components/editor/panelMobile/PanelMyDesignMore.vue
  projects/stk/src/components/editor/panelMobile/panelSelectDesign.vue
  projects/stk/src/components/vivisticker/FooterTabs.vue
  projects/stk/src/components/vivisticker/FullPage.vue
  projects/stk/src/components/vivisticker/HeaderTabs.vue
  projects/stk/src/components/vivisticker/MobilePanel.vue
  projects/stk/src/components/vivisticker/MyDesign.vue
  projects/stk/src/components/vivisticker/Payment.vue
  projects/stk/src/components/vivisticker/mydesign/MyDesignObjectItem.vue
  projects/stk/src/components/vivisticker/mydesign/MyDesignTemplateItem.vue
  projects/stk/src/components/vivisticker/mydesign/MyDesignTextItem.vue
  projects/stk/src/composable/useCanvasUtils.ts
  projects/stk/src/interfaces/customWindow.ts
  projects/stk/src/interfaces/editor.ts
  projects/stk/src/interfaces/vivisticker.ts
  projects/stk/src/router/index.ts
  projects/stk/src/store/index.ts
  projects/stk/src/store/module/vivisticker.ts
  projects/stk/src/store/text/index.ts
  projects/stk/src/views/Screenshot.vue
  projects/stk/src/views/ViviSticker.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: prviate xtra size img loading logic modify
  projects/stk/src/components/editor/global/NuBgImage.vue
  projects/stk/src/components/editor/global/NuImage.vue
  projects/stk/src/utils/imageUtils.ts
  projects/vivipic/src/components/editor/global/NuBgImage.vue
  projects/vivipic/src/components/editor/global/NuImage.vue
  projects/vivipic/src/utils/imageUtils.ts
Due: deploy vivipic to rd

fix: sub-controller dbl-tap; bg-setting-mode tap bug
  src/components/editor/global/NuBgImage.vue
  src/utils/pinchControlUtils.ts
  src/utils/pointerEvtUtils.ts
  src/utils/subControllerUtils.ts
Due: none

refactor: import vuex text in lib
  packages/vivi-lib/src/store/index.ts
  projects/stk/src/store/index.ts
  projects/vivipic/src/store/index.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: random query append
  projects/stk/src/utils/imageUtils.ts
  projects/vivipic/src/utils/imageUtils.ts
Due: deploy vivipic to rd

feat(pic): add comparison panel
  projects/vivipic/src/assets/img/jpg/pricing-mobile/welcome.jpg
  projects/vivipic/src/components/popup/PopupPayment.vue
  projects/vivipic/src/interfaces/payment.ts
  projects/vivipic/src/locales/jp_shaked.json
  projects/vivipic/src/locales/tw_shaked.json
  projects/vivipic/src/locales/us_shaked.json
Due: deploy vivipic to rd

feat(pic): add coupon botton
  projects/vivipic/src/views/Settings.vue
Due: deploy vivipic to rd

Path conditions:
  deploy charmix to cmrd: any of: *, projects/charmix/**, packages/**
  deploy vivipic to rd: any of: *, projects/vivipic/**, packages/**
