Repository s27840213/Vue-Devtool-Bug-Rereproduction: changes, and which Bitbucket steps are due for each by the changed paths.
All: deploy charmix to cmrd, deploy vivipic to rd

Path conditions:
  deploy charmix to cmrd: any of: *, projects/charmix/**, packages/**
  deploy vivipic to rd: any of: *, projects/vivipic/**, packages/**

refactor: sync changes between pic and stk
  projects/stk/src/components/popup/PopupPayment.vue
  projects/stk/src/interfaces/payment.ts
  projects/stk/src/locales/jp_shaked.json
  projects/stk/src/locales/tw_shaked.json
  projects/stk/src/locales/us_shaked.json
  projects/stk/src/views/Login/Login.vue
  projects/stk/src/views/Login/SignUp.vue
  projects/stk/src/views/Settings.vue
Due: none

cy: update baseline for FooterTabs height change
  cypress-visual-screenshots/baseline/Image.cy.ts/Other image test mobile/Copy format after.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Other image test mobile/Copy format before.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Other image test mobile/Copy layer.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Other image test mobile/Delete after.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Other image test mobile/Delete before.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Other image test mobile/Lock locked.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Other image test mobile/Lock unlocked.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Other image test mobile/Oredr change.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Other image test mobile/Oredr restore.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Other image test mobile/RotateAndResize after resize.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Other image test mobile/RotateAndResize before resize.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Other image test mobile/init.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Adjust preset1.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Adjust preset2.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Align bottom-align.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Align center-horizontally.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Align center-vertically.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Align left-align.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Align right-align.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Align top-align.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Crop init.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Crop move down.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Crop move left.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Crop move right.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Crop scale top right.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Flip h.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Flip hv.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Flip v.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Set as BG.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Shadow blur default.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Shadow blur preset.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Shadow floating default.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Shadow floating preset.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Shadow frame default.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Shadow frame preset.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Shadow imageMatched default.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Shadow imageMatched preset.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Shadow shadow default.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/Shadow shadow preset.png
  cypress-visual-screenshots/baseline/Image.cy.ts/Unsplash image mobile/init.png
Due: none

fix: pageIndex cause issue
  projects/stk/src/components/editor/global/NuPage.vue
  projects/stk/src/interfaces/steps.ts
  projects/stk/src/utils/stepsUtils.ts
  projects/vivipic/src/components/editor/global/NuPage.vue
  projects/vivipic/src/interfaces/steps.ts
  projects/vivipic/src/store/index.ts
  projects/vivipic/src/utils/stepsUtils.ts
Due: deploy vivipic to rd

fix: copyScreenShot issue
  projects/stk/src/components/editor/global/NuImage.vue
  projects/stk/src/utils/uploadUtils.ts
  projects/vivipic/src/components/editor/global/NuImage.vue
  projects/vivipic/src/utils/uploadUtils.ts
Due: deploy vivipic to rd

fix: frame flip imgBuff record
  projects/stk/src/components/editor/global/NuLayer.vue
  projects/stk/src/components/popup/PopupLayer.vue
  projects/vivipic/src/components/editor/global/NuLayer.vue
  projects/vivipic/src/components/popup/PopupLayer.vue
Due: deploy vivipic to rd

fix: fix the window path problems in viteStaticCopy plugin, and path alias problems in stk & pic
  packages/vivi-lib/vite.config.ts
  projects/stk/tsconfig.json
  projects/stk/vue.config.js
  projects/vivipic/tsconfig.json
  projects/vivipic/vue.config.js
  tools/i18n-tool/i18n_shake.py
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: img-shadow issues
  projects/stk/src/components/vivisticker/FooterTabs.vue
  projects/stk/src/utils/imageShadowPanelUtils.ts
  projects/stk/src/utils/imageShadowUtils.ts
  projects/vivipic/src/components/editor/mobile/FooterTabs.vue
  projects/vivipic/src/utils/imageShadowPanelUtils.ts
  projects/vivipic/src/utils/imageShadowUtils.ts
Due: deploy vivipic to rd

fix: svg viewbox for mobile contentScaleRatio
  projects/stk/src/components/editor/global/NuLayer.vue
  projects/stk/src/components/editor/global/NuShape.vue
  projects/vivipic/src/components/editor/global/NuLayer.vue
  projects/vivipic/src/components/editor/global/NuShape.vue
Due: deploy vivipic to rd

fix(pic): fix animation of comparison panel
  projects/vivipic/src/components/popup/PopupPayment.vue
Due: deploy vivipic to rd

fix: use *:where() for 0 specificity where adding APP constraint
  packages/vivi-lib/src/assets/scss/utils/mixins.scss
  projects/stk/public/index.html
  projects/vivipic/prerender/index.html
  projects/vivipic/public/index.html
Due: deploy charmix to cmrd, deploy vivipic to rd

fix(pic): change images in mobile payment view to 2x resolution
  projects/vivipic/src/assets/img/jpg/pricing-mobile/jp/export-pdf-print.jpg
  projects/vivipic/src/assets/img/jpg/pricing-mobile/jp/page-resize.jpg
  projects/vivipic/src/assets/img/jpg/pricing-mobile/jp/pro-object.jpg
  projects/vivipic/src/assets/img/jpg/pricing-mobile/jp/pro-template.jpg
  projects/vivipic/src/assets/img/jpg/pricing-mobile/jp/pro-text.jpg
  projects/vivipic/src/assets/img/jpg/pricing-mobile/jp/remover.jpg
  projects/vivipic/src/assets/img/jpg/pricing-mobile/pro-bg.jpg
  projects/vivipic/src/assets/img/jpg/pricing-mobile/tw/export-pdf-print.jpg
  projects/vivipic/src/assets/img/jpg/pricing-mobile/tw/page-resize.jpg
  projects/vivipic/src/assets/img/jpg/pricing-mobile/tw/pro-object.jpg
  projects/vivipic/src/assets/img/jpg/pricing-mobile/tw/pro-template.jpg
  projects/vivipic/src/assets/img/jpg/pricing-mobile/tw/pro-text.jpg
  projects/vivipic/src/assets/img/jpg/pricing-mobile/tw/remover.jpg
  projects/vivipic/src/assets/img/jpg/pricing-mobile/us/export-pdf-print.jpg
  projects/vivipic/src/assets/img/jpg/pricing-mobile/us/page-resize.jpg
  projects/vivipic/src/assets/img/jpg/pricing-mobile/us/pro-object.jpg
  projects/vivipic/src/assets/img/jpg/pricing-mobile/us/pro-template.jpg
  projects/vivipic/src/assets/img/jpg/pricing-mobile/us/pro-text.jpg
  projects/vivipic/src/assets/img/jpg/pricing-mobile/us/remover.jpg
Due: deploy vivipic to rd

refactor: sync changes between pic and stk
  projects/stk/src/components/popup/PopupPayment.vue
Due: none

feat: replace img for pic desktop
  packages/vivi-lib/src/components/GalleryPhoto.vue
  packages/vivi-lib/src/utils/backgroundUtils.ts
  packages/vivi-lib/src/utils/imageUtils.ts
  projects/vivipic/src/components/editor/panelFunction/PanelBackgroundSetting.vue
  projects/vivipic/src/components/editor/panelFunction/PanelPhotoSetting.vue
  projects/vivipic/src/components/popup/PopupReplace.vue
  projects/vivipic/src/i18n/shaked/jp.json
  projects/vivipic/src/i18n/shaked/tw.json
  projects/vivipic/src/i18n/shaked/us.json
  tools/i18n-tool/result/jp.json
  tools/i18n-tool/result/tw.json
  tools/i18n-tool/result/us.json
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: remove wrongly passed argument
  projects/stk/src/utils/controlUtils.ts
  projects/vivipic/src/utils/controlUtils.ts
Due: deploy vivipic to rd

fix: fix the dragging problems caused by doubletapUtils
  packages/vivi-lib/src/utils/doubleTapUtils.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: initWidth and initHeight should take pDiff into consideration
  projects/stk/src/components/editor/global/NuShape.vue
  projects/vivipic/src/components/editor/global/NuShape.vue
Due: deploy vivipic to rd

fix: fix getAssetId private img usage
  packages/vivi-lib/src/utils/assetUtils.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

fix(pic): fix footer links of mobile payment view
  projects/vivipic/src/components/popup/PopupPayment.vue
  projects/vivipic/src/locales/jp_shaked.json
  projects/vivipic/src/locales/tw_shaked.json
  projects/vivipic/src/locales/us_shaked.json
Due: deploy vivipic to rd

fix: optimize the transition of charmix, and update some UI
  projects/charmix/src/App.vue
  projects/charmix/src/assets/icon/chat-bubble.svg
  projects/charmix/src/assets/icon/document-text.svg
  projects/charmix/src/assets/icon/film.svg
  projects/charmix/src/assets/icon/language.svg
  projects/charmix/src/assets/icon/settings.svg
  projects/charmix/src/assets/icon/star.svg
  projects/charmix/src/assets/icon/user-cycle.svg
  projects/charmix/src/assets/img/crown-3d.png
  projects/charmix/src/assets/img/img-empty.png
  projects/charmix/src/assets/scss/transition.scss
  projects/charmix/src/assets/scss/transitions.scss
  projects/charmix/src/components/global/BackBtn.vue
  projects/charmix/src/components/global/ImgSelector.vue
  projects/charmix/src/composable/useStateInfo.ts
  projects/charmix/src/locales/us.json
  projects/charmix/src/locales/us_shaked.json
  projects/charmix/src/router/index.ts
  projects/charmix/src/views/EditorView.vue
  projects/charmix/src/views/HomeView.vue
  projects/charmix/src/views/MyDesignView.vue
  projects/charmix/src/views/SettingsView.vue
  projects/stk/src/locales/jp.json
  projects/stk/src/locales/jp_shaked.json
  projects/stk/src/locales/pt.json
  projects/stk/src/locales/pt_shaked.json
  projects/stk/src/locales/tw.json
  projects/stk/src/locales/tw_shaked.json
  projects/stk/src/locales/us.json
  projects/stk/src/locales/us_shaked.json
  projects/vivipic/src/locales/jp.json
  projects/vivipic/src/locales/jp_shaked.json
  projects/vivipic/src/locales/tw.json
  projects/vivipic/src/locales/tw_shaked.json
  projects/vivipic/src/locales/us.json
  projects/vivipic/src/locales/us_shaked.json
Due: deploy charmix to cmrd, deploy vivipic to rd

feat: add domain selecting page, and optimize some animation
  projects/charmix/src/assets/icon/chevron-right.svg
  projects/charmix/src/assets/icon/code-bracket-square.svg
  projects/charmix/src/assets/icon/global.svg
  projects/charmix/src/components.d.ts
  projects/charmix/src/components/Headerbar.vue
  projects/charmix/src/components/global/BackBtn.vue
  projects/charmix/src/components/global/FunctionBar.vue
  projects/charmix/src/locales/tw.json
  projects/charmix/src/locales/tw_shaked.json
  projects/charmix/src/locales/us.json
  projects/charmix/src/locales/us_shaked.json
  projects/charmix/src/router/index.ts
  projects/charmix/src/stores/global.ts
  projects/charmix/src/views/EditorView.vue
  projects/charmix/src/views/SettingsView.vue
  projects/stk/src/locales/jp.json
  projects/stk/src/locales/tw.json
  projects/stk/src/locales/us.json
  projects/vivipic/src/locales/jp.json
  projects/vivipic/src/locales/tw.json
  projects/vivipic/src/locales/us.json
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: fix the build failed problems caused by img tag without using v-bind
  projects/charmix/src/App.vue
  projects/charmix/src/components.d.ts
  projects/charmix/src/views/SettingsView.vue
Due: deploy charmix to cmrd

fix(pic): fix payment UI with no free trial
  projects/vivipic/src/components/popup/PopupPayment.vue
  projects/vivipic/src/i18n/shaked/jp.json
  projects/vivipic/src/i18n/shaked/pt.json
  projects/vivipic/src/i18n/shaked/tw.json
  projects/vivipic/src/i18n/shaked/us.json
Due: deploy vivipic to rd

fix: pending has been merged, use getter for pic instead
  packages/vivi-lib/src/components/editor/panelFunction/PanelFonts.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: allow base64 src in getSrcType and getAssetId
  packages/vivi-lib/src/utils/imageUtils.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: stk headerTab layout fallback for animation logic
  packages/vivi-lib/src/components/editor/mobile/HeaderTabs.vue
  projects/stk/src/components/vivisticker/HeaderTabs.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: push document up when input coverd by keyboard
  packages/vivi-lib/src/utils/movingUtils.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: getAssetId for type ios should take everything after vvstk://
  packages/vivi-lib/src/utils/imageUtils.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: pic frame size logic different from stk
  packages/vivi-lib/src/utils/assetUtils.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: frame resizeRatio should take page aspect ratio into consideration
  packages/vivi-lib/src/utils/assetUtils.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

refactor: move stk and pic same name diff place files to same place and rel import -> abs import
  packages/vivi-lib/src/components/editor/panelMobile/PanelTextEffect.vue
  packages/vivi-lib/src/store/module/color.ts
  packages/vivi-lib/src/store/module/imgControl.ts
  packages/vivi-lib/src/store/module/shadow.ts
  packages/vivi-lib/src/store/utils/imgShadow.ts
  projects/stk/src/components/editor/mobile/FooterTabs.vue
  projects/stk/src/components/editor/mobile/HeaderTabs.vue
  projects/stk/src/components/editor/mobile/MobilePanel.vue
  projects/stk/src/components/editor/panelMobile/PanelBackground.vue
  projects/stk/src/components/editor/panelMobile/PanelObject.vue
  projects/stk/src/components/editor/panelMobile/PanelObjectGifs.vue
  projects/stk/src/components/editor/panelMobile/PanelObjectStatic.vue
  projects/stk/src/components/editor/panelMobile/PanelTemplate.vue
  projects/stk/src/components/editor/panelMobile/PanelText.vue
  projects/stk/src/components/vivisticker/MainMenu.vue
  projects/stk/src/components/vivisticker/us/PanelBackground.vue
  projects/stk/src/components/vivisticker/us/PanelObject.vue
  projects/stk/src/components/vivisticker/us/PanelObjectGifs.vue
  projects/stk/src/components/vivisticker/us/PanelObjectStatic.vue
  projects/stk/src/components/vivisticker/us/PanelTemplate.vue
  projects/stk/src/components/vivisticker/us/PanelText.vue
  projects/stk/src/router/index.ts
  projects/stk/src/views/ViviSticker.vue
  projects/vivipic/src/store/module/payment.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

chore: import SvgIcon in pic/stk not lib
  packages/vivi-lib/package.json
  packages/vivi-lib/src/components/global/SvgIcon.vue
  packages/vivi-lib/vite.config.ts
  projects/stk/src/main.ts
  projects/vivipic/src/main.ts
  projects/vivipic/vue.config.js
Due: deploy charmix to cmrd, deploy vivipic to rd

chore: import SvgIcon in pic/stk not lib
  projects/stk/vue.config.js
Due: none

refactor: move files under components/vivisticker to their own directories
  packages/vivi-lib/src/components/SearchBar.vue
  projects/stk/src/components/editor/backgroundRemove/BgRemoveArea.vue
  projects/stk/src/components/editor/backgroundRemove/BgRemoveContainer.vue
  projects/stk/src/components/editor/editor/VvstkEditor.vue
  projects/stk/src/components/editor/mobile/MobilePanel.vue
  projects/stk/src/components/editor/mobile/PageCard.vue
  projects/stk/src/components/editor/mobile/ShareTemplate.vue
  projects/stk/src/components/editor/pagePreview/PagePreview.vue
  projects/stk/src/components/editor/panelMobile/PanelAddTemplate.vue
  projects/stk/src/components/editor/panelMobile/PanelPageManagement.vue
  projects/stk/src/components/editor/panelMobile/PanelRemoveBg.vue
  projects/stk/src/components/editor/panelMobile/PanelReplace.vue
  projects/stk/src/components/editor/panelMobile/PanelTemplate.vue
  projects/stk/src/components/editor/panelMobile/PanelTemplateContent.vue
  projects/stk/src/components/editor/panelMobile/PanelText.vue
  projects/stk/src/components/fullPage/FullPage.vue
  projects/stk/src/components/fullPage/Payment.vue
  projects/stk/src/components/fullPage/Welcome.vue
  projects/stk/src/components/global/LoadingOverlay.vue
  projects/stk/src/components/mainMenu/BtnAdd.vue
  projects/stk/src/components/mainMenu/MainMenu.vue
  projects/stk/src/components/mydesign/MyDesign.vue
  projects/stk/src/components/mydesign/MyDesignObjectItem.vue
  projects/stk/src/components/mydesign/MyDesignTemplateItem.vue
  projects/stk/src/components/mydesign/MyDesignTextItem.vue
  projects/stk/src/components/slide/SlideUserSettings.vue
  projects/stk/src/components/tutorial/Tutorial.vue
  projects/stk/src/components/us/CategoryObjectCard.vue
  projects/stk/src/components/us/CategoryTextPreview.vue
  projects/stk/src/components/us/PanelBackground.vue
  projects/stk/src/components/us/PanelObject.vue
  projects/stk/src/components/us/PanelObjectGifs.vue
  projects/stk/src/components/us/PanelObjectStatic.vue
  projects/stk/src/components/us/PanelTemplate.vue
  projects/stk/src/components/us/PanelTemplateContent.vue
  projects/stk/src/components/us/PanelText.vue
  projects/stk/src/views/ViviSticker.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

chore: add refactor commits to git blame igore
  .git-blame-ignore-revs
Due: deploy charmix to cmrd, deploy vivipic to rd

chore: add refactor commit to git blame ignore
  .git-blame-ignore-revs
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: disable handle shadow img as shadow uploading
  packages/vivi-lib/src/components/editor/global/NuImage.vue
  packages/vivi-lib/src/utils/imageShadowPanelUtils.ts
  packages/vivi-lib/src/utils/imageShadowUtils.ts
  projects/vivipic/src/components/editor/mobile/FooterTabs.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: svg category-D contentScaleRatio error
  packages/vivi-lib/src/components/editor/global/NuShape.vue
  packages/vivi-lib/src/utils/editorUtils.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

feat: delete some unused icon, update stk_global.svg
  packages/vivi-lib/src/assets/icon/inspiration.svg
  packages/vivi-lib/src/assets/icon/multi-color.svg
  packages/vivi-lib/src/assets/icon/vivisticker/vivisticker_global.svg
Due: deploy charmix to cmrd, deploy vivipic to rd
