Repository s27840213/Vue-Devtool-Bug-Rereproduction: changes, and which Bitbucket steps are due for each by the changed paths.
All: deploy charmix to cmrd, deploy vivipic to rd

Path conditions:
  deploy charmix to cmrd: any of: *, projects/charmix/**, packages/**
  deploy vivipic to rd: any of: *, projects/vivipic/**, packages/**

refactor: add new scss mixin setColor, pic, stk
  packages/vivi-lib/src/assets/scss/utils/functions.scss
  packages/vivi-lib/src/assets/scss/utils/index.scss
  packages/vivi-lib/src/assets/scss/utils/mixins.scss
  packages/vivi-lib/src/components/category/CategoryList.vue
  packages/vivi-lib/vite.config.ts
  projects/stk/src/App.vue
  projects/vivipic/src/App.vue
  projects/vivipic/vue.config.js
Due: deploy charmix to cmrd, deploy vivipic to rd

feat(pic): update i18n
  projects/stk/src/locales/jp.json
  projects/stk/src/locales/pt.json
  projects/stk/src/locales/pt_shaked.json
  projects/stk/src/locales/tw.json
  projects/stk/src/locales/tw_shaked.json
  projects/stk/src/locales/us.json
  projects/stk/src/locales/us_shaked.json
  projects/vivipic/src/components/popup/PopupPayment.vue
  projects/vivipic/src/locales/jp.json
  projects/vivipic/src/locales/jp_shaked.json
  projects/vivipic/src/locales/tw.json
  projects/vivipic/src/locales/tw_shaked.json
  projects/vivipic/src/locales/us.json
  projects/vivipic/src/locales/us_shaked.json
Due: deploy vivipic to rd

fix(pic): fix layout of payment view
  projects/vivipic/src/components/popup/PopupPayment.vue
Due: deploy vivipic to rd

fix: PC version should always have contentScaleRatio as 1
  src/store/index.ts
Due: none

feat: image selector UI and improve the performance with lazy load and pagination
  bitbucket-pipelines.yml
  packages/shared-lib/src/index.ts
  packages/shared-lib/src/utils/queueUtils.ts
  projects/charmix/src/App.vue
  projects/charmix/src/assets/icon/camera.svg
  projects/charmix/src/assets/icon/chevron-up.svg
  projects/charmix/src/components.d.ts
  projects/charmix/src/components/accordion/Accordion.vue
  projects/charmix/src/components/global/BackBtn.vue
  projects/charmix/src/components/global/ImgSelector.vue
  projects/charmix/src/components/global/LazyLoad.vue
  projects/charmix/src/components/global/ObserverSentinel.vue
  projects/charmix/src/composable/useStateInfo.ts
  projects/charmix/src/stores/color.ts
  projects/charmix/src/stores/counter.ts
  projects/charmix/src/stores/imgSelector.ts
  projects/charmix/src/stores/modal.ts
  projects/charmix/src/utils/webViewUtils.ts
  projects/charmix/src/views/HomeView.vue
  projects/stk/src/components/Tabs.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: private img xtra load
  src/components/editor/global/NuBgImage.vue
  src/components/editor/global/NuImage.vue
  src/utils/imageUtils.ts
Due: none

fix(pic): fix font of comparison panel
  projects/vivipic/src/components/popup/PopupPayment.vue
Due: deploy vivipic to rd

fix: fix tiny bugs in image selector
  projects/charmix/src/components/global/ImgSelector.vue
  projects/charmix/src/stores/imgSelector.ts
Due: deploy charmix to cmrd

fix: fix some tiny bugs in img selector
  projects/charmix/src/components/global/ImgSelector.vue
Due: deploy charmix to cmrd

feat(pic): show payment view periodically
  projects/vivipic/src/App.vue
  projects/vivipic/src/router/index.ts
  projects/vivipic/src/store/index.ts
  projects/vivipic/src/store/types.ts
Due: deploy vivipic to rd

refactor: merge stk SearchBar.vue to vivi-lib
  packages/vivi-lib/src/components/SearchBar.vue
  packages/vivi-lib/src/locales/charmix/jp_shaked.json
  packages/vivi-lib/src/locales/charmix/pt_shaked.json
  packages/vivi-lib/src/locales/charmix/tw_shaked.json
  packages/vivi-lib/src/locales/charmix/us_shaked.json
  projects/stk/src/components/SearchBar.vue
  projects/stk/src/components/editor/panelFunction/PanelFonts.vue
  projects/stk/src/components/editor/panelSidebar/PanelPhoto.vue
  projects/stk/src/components/vivisticker/PanelBackground.vue
  projects/stk/src/components/vivisticker/PanelObjectGifs.vue
  projects/stk/src/components/vivisticker/PanelObjectStatic.vue
  projects/stk/src/components/vivisticker/PanelTemplateContent.vue
  projects/stk/src/components/vivisticker/PanelText.vue
  projects/stk/src/components/vivisticker/us/PanelObject.vue
  projects/stk/src/components/vivisticker/us/PanelTemplate.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

refactor: make stk popup extend vivi-lib popup
  projects/stk/src/components/popup/Popup.vue
Due: none

refactor: merge stk (scss)
  packages/vivi-lib/src/assets/scss/base/helpers.scss
  packages/vivi-lib/src/assets/scss/base/transition.scss
  packages/vivi-lib/src/assets/scss/base/typography.scss
  packages/vivi-lib/src/assets/scss/components/button.scss
  packages/vivi-lib/src/assets/scss/components/components.scss
  packages/vivi-lib/src/assets/scss/components/controlPoint.scss
  packages/vivi-lib/src/assets/scss/components/slider.scss
  packages/vivi-lib/src/assets/scss/main.scss
  packages/vivi-lib/src/assets/scss/utils/formatStyle.scss
  packages/vivi-lib/src/assets/scss/utils/functions.scss
  packages/vivi-lib/src/assets/scss/utils/mixins.scss
  packages/vivi-lib/src/components/global/Tags.vue
  projects/stk/public/index.html
  projects/stk/src/App.vue
  projects/stk/src/assets/scss/base/colors.scss
  projects/stk/src/assets/scss/base/helpers.scss
  projects/stk/src/assets/scss/base/index.scss
  projects/stk/src/assets/scss/base/reset.scss
  projects/stk/src/assets/scss/base/transition.scss
  projects/stk/src/assets/scss/base/typography.scss
  projects/stk/src/assets/scss/components/button.scss
  projects/stk/src/assets/scss/components/components.scss
  projects/stk/src/assets/scss/components/controlPoint.scss
  projects/stk/src/assets/scss/components/index.scss
  projects/stk/src/assets/scss/components/scrollbar.scss
  projects/stk/src/assets/scss/components/slider.scss
  projects/stk/src/assets/scss/components/tooltip.scss
  projects/stk/src/assets/scss/main.scss
  projects/stk/src/assets/scss/utils/formatStyle.scss
  projects/stk/src/assets/scss/utils/functions.scss
  projects/stk/src/assets/scss/utils/index.scss
  projects/stk/src/assets/scss/utils/mixins.scss
  projects/stk/src/assets/scss/utils/variables.scss
  projects/stk/vue.config.js
  projects/vivipic/prerender/index.html
  projects/vivipic/public/index.html
  projects/vivipic/src/App.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: text pinch-end moving bug
  src/components/vivisticker/VvstkEditor.vue
  src/utils/controlUtils.ts
  src/utils/movingUtils.ts
  src/utils/pinchControlUtils.ts
Due: none

refactor: fix scss indent space
  packages/vivi-lib/src/assets/scss/base/helpers.scss
  packages/vivi-lib/src/assets/scss/components/slider.scss
  packages/vivi-lib/src/assets/scss/main.scss
Due: deploy charmix to cmrd, deploy vivipic to rd

cy: fix cypress error due to Searchbar.vue change
  .git-blame-ignore-revs
  cypress/e2e/Editor/SidebarPanel.cy.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

fix(stk): prevent rounded corners when screenshot pages with color background
  projects/stk/src/components/editor/global/NuBgImage.vue
  projects/stk/src/components/vivisticker/PageCard.vue
  projects/stk/src/utils/vivistickerUtils.ts
  projects/stk/src/views/Screenshot.vue
Due: none

refactor: merge stk SlideToggle.vue to vivi-lib
  packages/vivi-lib/src/components/global/SlideToggle.vue
  packages/vivi-lib/src/locales/charmix/jp_shaked.json
  packages/vivi-lib/src/locales/charmix/tw_shaked.json
  packages/vivi-lib/src/locales/charmix/us_shaked.json
  packages/vivi-lib/src/locales/vivipic/jp_shaked.json
  packages/vivi-lib/src/locales/vivipic/tw_shaked.json
  packages/vivi-lib/src/locales/vivipic/us_shaked.json
  projects/stk/src/components/editor/panelMobile/PanelNudge.vue
  projects/stk/src/components/global/SlideToggle.vue
  projects/stk/src/components/vivisticker/MobilePanel.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: private xtra error as not produce at backend-rendering
  src/components/editor/global/NuBgImage.vue
  src/components/editor/global/NuImage.vue
  src/utils/imageUtils.ts
Due: none

refactor: merge some stk .vue files to vivi-lib
  projects/stk/src/components/category/CategoryGroupTemplateItem.vue
  projects/stk/src/components/editor/panelMobile/PanelObjectAdjust.vue
  projects/stk/src/components/global/Dropdown.vue
  projects/stk/src/components/global/Hint.vue
  projects/stk/src/components/global/ImageCarousel.vue
  projects/stk/src/components/global/MarkerIcon.vue
  projects/stk/src/components/global/Nubtn.vue
  projects/stk/src/components/global/PropertyBar.vue
  projects/stk/src/main.ts
Due: none

fix: sticker prod domain name should be sticker.vivipic.com
  projects/stk/src/router/index.ts
Due: none

fix: tidy up the codes in image selectors
  projects/charmix/index.html
  projects/charmix/src/components/global/ImgSelector.vue
Due: deploy charmix to cmrd

feat: pic's ModalCard and PanelColor & ColorSlips align stk
  packages/vivi-lib/src/components/editor/panelMobile/PanelColor.vue
  packages/vivi-lib/src/components/modal/ModalCard.vue
  projects/stk/src/App.vue
  projects/stk/src/components/editor/panelMobile/PanelColor.vue
  projects/stk/src/components/modal/ModalCard.vue
  projects/vivipic/src/components/editor/ColorSlips.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

refactor: merge stk ColorBtn to vivi-lib
  packages/vivi-lib/src/components/global/ColorBtn.vue
  packages/vivi-lib/src/locales/charmix/jp_shaked.json
  packages/vivi-lib/src/locales/charmix/tw_shaked.json
  packages/vivi-lib/src/locales/charmix/us_shaked.json
  packages/vivi-lib/src/locales/vivipic/jp_shaked.json
  packages/vivi-lib/src/locales/vivipic/tw_shaked.json
  packages/vivi-lib/src/locales/vivipic/us_shaked.json
  projects/stk/src/components/editor/ColorSlips.vue
  projects/stk/src/components/editor/panelFunction/PanelTextEffectSetting.vue
  projects/stk/src/components/editor/panelMobile/PanelColor.vue
  projects/stk/src/components/editor/panelMobile/PanelTextEffect.vue
  projects/stk/src/components/global/ColorBtn.vue
  projects/stk/src/components/vivisticker/FooterTabs.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: isSrcObj check
  src/utils/imageUtils.ts
Due: none

refactor: align stk/vivi-lib svg icon files
  packages/vivi-lib/src/assets/icon/favorites-empty.svg
  packages/vivi-lib/src/assets/icon/fonts.svg
  packages/vivi-lib/src/assets/icon/info-reverse.svg
  packages/vivi-lib/src/assets/icon/inspiration.svg
  packages/vivi-lib/src/assets/icon/move-cross.svg
  packages/vivi-lib/src/assets/icon/vivisticker_logo.svg
Due: deploy charmix to cmrd, deploy vivipic to rd

refactor: merge stk panels to vivi-lib and make setColor accept pure color
  packages/vivi-lib/src/assets/scss/utils/functions.scss
  packages/vivi-lib/src/components/editor/panelMobile/PanelRemoveBg.vue
  packages/vivi-lib/src/components/editor/panelMobile/PanelTextEffect.vue
  packages/vivi-lib/src/components/editor/panelSidebar/PanelPhoto.vue
  packages/vivi-lib/src/locales/charmix/jp_shaked.json
  packages/vivi-lib/src/locales/charmix/tw_shaked.json
  packages/vivi-lib/src/locales/charmix/us_shaked.json
  projects/stk/src/components/editor/panelFunction/PanelTextEffectSetting.vue
  projects/stk/src/components/editor/panelMobile/PanelRemoveBg.vue
  projects/stk/src/components/editor/panelMobile/PanelTextEffect.vue
  projects/stk/src/components/editor/panelSidebar/PanelPhoto.vue
  projects/stk/src/components/global/Btn.vue
  projects/stk/src/components/global/Checkbox.vue
  projects/stk/src/components/global/CollapseTitle.vue
  projects/stk/src/components/vivisticker/MobilePanel.vue
  projects/stk/src/components/vivisticker/PanelReplace.vue
  projects/stk/src/main.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

refactor: merge stk PanelPhotoShadow and imageShadowPanelUtils to vivi-lib
  packages/vivi-lib/src/components/editor/panelMobile/PanelPhotoShadow.vue
  packages/vivi-lib/src/utils/imageShadowPanelUtils.ts
  projects/stk/src/components/editor/global/NuImage.vue
  projects/stk/src/components/editor/panelMobile/PanelPhotoShadow.vue
  projects/stk/src/components/editor/panelMobile/PanelPosition.vue
  projects/stk/src/components/vivisticker/MobilePanel.vue
  projects/stk/src/utils/imageShadowPanelUtils.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

refactor: merge some stk panels to vivi-lib
  packages/vivi-lib/src/components/category/CategoryFontItem.vue
  packages/vivi-lib/src/components/editor/panelFunction/PanelFonts.vue
  packages/vivi-lib/src/components/editor/panelFunction/PanelTextEffectSetting.vue
  packages/vivi-lib/src/components/editor/panelMobile/PanelAdjust.vue
  packages/vivi-lib/src/components/editor/panelMobile/PanelFontFormat.vue
  packages/vivi-lib/src/components/editor/panelMobile/PanelFontSize.vue
  packages/vivi-lib/src/components/editor/panelMobile/PanelNudge.vue
  packages/vivi-lib/src/components/editor/panelMobile/PanelObjectAdjust.vue
  packages/vivi-lib/src/components/editor/panelMobile/PanelOpacity.vue
  packages/vivi-lib/src/mixin/controllerHidden.ts
  packages/vivi-lib/src/utils/brandkitUtils.ts
  projects/stk/src/components/editor/panelFunction/PanelFonts.vue
  projects/stk/src/components/editor/panelFunction/PanelTextEffectSetting.vue
  projects/stk/src/components/editor/panelMobile/PanelAdjust.vue
  projects/stk/src/components/editor/panelMobile/PanelFlip.vue
  projects/stk/src/components/editor/panelMobile/PanelFontFormat.vue
  projects/stk/src/components/editor/panelMobile/PanelFontSize.vue
  projects/stk/src/components/editor/panelMobile/PanelFontSpacing.vue
  projects/stk/src/components/editor/panelMobile/PanelNudge.vue
  projects/stk/src/components/editor/panelMobile/PanelObjectAdjust.vue
  projects/stk/src/components/editor/panelMobile/PanelOpacity.vue
  projects/stk/src/components/editor/panelMobile/PanelOrder.vue
  projects/stk/src/components/vivisticker/MobilePanel.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

refactor: merge stk CategoryFontItem and PageContent to vivi-lib
  packages/vivi-lib/src/components/editor/page/PageContent.vue
  packages/vivi-lib/src/components/editor/panelFunction/PanelFonts.vue
  packages/vivi-lib/src/utils/vuexUtils.ts
  projects/stk/src/components/category/CategoryFontItem.vue
  projects/stk/src/components/editor/page/PageContent.vue
  projects/stk/src/components/vivisticker/PageCard.vue
  projects/stk/src/components/vivisticker/PagePreivew.vue
  projects/stk/src/components/vivisticker/ShareTemplate.vue
  projects/stk/src/views/Screenshot.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

refactor: merge stk MobileSlider to vivi-lib
  packages/vivi-lib/src/components/editor/mobile/MobileSlider.vue
  projects/stk/src/components/editor/mobile/MobileSlider.vue
  projects/stk/src/components/editor/page/DimBackground.vue
  projects/stk/src/components/vivisticker/BgRemoveContainer.vue
  projects/stk/src/components/vivisticker/PageCard.vue
  projects/stk/src/components/vivisticker/PanelBackground.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

refactor: merge stk NuTmp, NuTextEditor and NuText to vivi-lib
  packages/vivi-lib/src/components/editor/global/NuText.vue
  packages/vivi-lib/src/components/editor/global/NuTextEditor.vue
  packages/vivi-lib/src/components/editor/global/NuTmp.vue
  projects/stk/src/components/editor/global/NuController.vue
  projects/stk/src/components/editor/global/NuSubController.vue
  projects/stk/src/components/editor/global/NuText.vue
  projects/stk/src/components/editor/global/NuTextEditor.vue
  projects/stk/src/components/editor/global/NuTmp.vue
  projects/stk/src/main.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

refactor: replace controllerHiddenMixin with vuexUtils
  packages/vivi-lib/src/components/editor/panelMobile/PanelAdjust.vue
  packages/vivi-lib/src/mixin/controllerHidden.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

refactor: merge NuSubController into vivi-lib without import since subControllerUtils not merged yet
  packages/vivi-lib/src/components/editor/global/NuSubController.vue
  projects/stk/src/components/editor/global/NuSubController.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

refactor: merge stk NuXX.vue and some vue files to vivi-lib
  packages/vivi-lib/src/components/editor/controlPoint/ActionIcon.vue
  packages/vivi-lib/src/components/editor/global/NuBackgroundController.vue
  packages/vivi-lib/src/components/editor/global/NuBgImage.vue
  packages/vivi-lib/src/components/editor/global/NuController.vue
  packages/vivi-lib/src/components/editor/global/NuImgController.vue
  packages/vivi-lib/src/components/editor/global/NuLayer.vue
  packages/vivi-lib/src/components/editor/global/NuShape.vue
  packages/vivi-lib/src/components/editor/global/NuSubController.vue
  packages/vivi-lib/src/components/editor/global/NuTmp.vue
  packages/vivi-lib/src/locales/charmix/jp_shaked.json
  packages/vivi-lib/src/locales/charmix/tw_shaked.json
  packages/vivi-lib/src/locales/charmix/us_shaked.json
  packages/vivi-lib/src/locales/vivipic/jp_shaked.json
  packages/vivi-lib/src/locales/vivipic/tw_shaked.json
  packages/vivi-lib/src/locales/vivipic/us_shaked.json
  packages/vivi-lib/src/utils/generalUtils.ts
  projects/stk/src/App.vue
  projects/stk/src/components/colorPicker/Chrome.vue
  projects/stk/src/components/colorPicker/common/Alpha.vue
  projects/stk/src/components/colorPicker/common/Checkboard.vue
  projects/stk/src/components/colorPicker/common/EditableInput.vue
  projects/stk/src/components/colorPicker/common/Hue.vue
  projects/stk/src/components/colorPicker/common/Saturation.vue
  projects/stk/src/components/componentLog/DebugTool.vue
  projects/stk/src/components/editor/controlPoint/ActionIcon.vue
  projects/stk/src/components/editor/global/CustomElement.vue
  projects/stk/src/components/editor/global/NuAdjustImage.vue
  projects/stk/src/components/editor/global/NuBackgroundController.vue
  projects/stk/src/components/editor/global/NuBgImage.vue
  projects/stk/src/components/editor/global/NuController.vue
  projects/stk/src/components/editor/global/NuCurveText.vue
  projects/stk/src/components/editor/global/NuGroup.vue
  projects/stk/src/components/editor/global/NuImage.vue
  projects/stk/src/components/editor/global/NuImgController.vue
  projects/stk/src/components/editor/global/NuLayer.vue
  projects/stk/src/components/editor/global/NuShape.vue
  projects/stk/src/main.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: PC version rollback and use stk layout as mobile version
  packages/vivi-lib/src/assets/scss/utils/mixins.scss
  projects/vivipic/src/components/editor/ColorSlips.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: remove unused function
  packages/vivi-lib/src/components/editor/global/NuBackgroundController.vue
  packages/vivi-lib/src/utils/pageUtils.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

chore: remove not required code
  packages/vivi-lib/src/components/editor/global/NuLayer.vue
  packages/vivi-lib/src/components/editor/global/NuText.vue
Due: deploy charmix to cmrd, deploy vivipic to rd

fix: stk needs record, too
  packages/vivi-lib/src/utils/imageShadowPanelUtils.ts
Due: deploy charmix to cmrd, deploy vivipic to rd

chore: remove unused variables and functions
  packages/vivi-lib/src/components/editor/global/NuSubController.vue
Due: deploy charmix to cmrd, deploy vivipic to rd
